- semantic_remote_form_for @assessment, :url => {:controller => 'assessments', :action => 'update', :id => @assessment, :student_id => @student} do |f|
  = f.error_messages
  %table.calculation
    %tr.heading
      %th Activity
      %th Weightage (%)
      %th Choose best
    - @assessment.assessment_tools.each do |tool|
      - f.semantic_fields_for :assessment_tools, tool do |tool_form|
        %tr
          %td= tool.name
          %td= tool_form.input :weightage, :label => false,  :input_html => {:id => tool.name+" Weightage"}
          %td
            = tool_form.input :best_of, :as => :select, :collection => (1..tool.activities.size).to_a, :label => false, :input_html => {:id => tool.name+" BestOf"}
            = tool_form.label " out of #{tool.activities.size}"
  = f.submit
    
