- semantic_remote_form_for @klass, :url => {:controller => 'assessment_groups', :action => 'update', :klass_id => @klass} do |f|
  = f.error_messages
  %table
    - @klass.assessment_groups.each do |group|
      - f.semantic_fields_for :assessment_groups, group do |group_form|
        %tr
          %td= group_form.input :id, :as => :hidden
          %td= group.name
          %td= group_form.input :weightage, :label => "Weightage (%)"
          %td= group_form.input :max_score
  = f.submit
