<% remote_form_for student , :url => {:controller => 'students', :action => 'create', :school_id => school} do |f| %>
<%= f.error_messages %>
<p>
    <%= render :partial => 'users/invite_input', :locals => {:user => student.user} %>
</p>
<br />
<%= render :partial => 'user_profiles/form', :locals => {:user_profile => user_profile} %>
<br />
<p>
    <%= render :partial => 'students/invite_input', :locals => {:student => student, :school => school} %>
</p>
<p>
    <%= f.submit 'Invite' %>
</p>
<% end %>
