<tr>
	<%puts "in student partial"%>
    <td>
        <%if student.user.user_profile %>
        <%= link_to student.user.user_profile.name, {:controller => 'user_profiles', :action => 'new', :id => student.user} %>
        <%else %>
        <%= link_to "Profile not created", {:controller => 'user_profiles', :action => 'new', :id => student.user}, {:class => "profile"} %>
        <%end %>
    </td>
    <td>
        <%= student.user.email %>
    </td>
    <td>
        <input type="button" id="edit_no_<%= student.id %>" class="ui-state-default float_right" value="edit"/><strong id=<%="admission_number_#{student.id}" %>><%=student.admission_number %></strong>
        <%= in_place_editor "admission_number_#{student.id}" ,{:url => {:controller => 'student_enrollment', :action => 'set_student_admission_number', :id => student},:external_control => "edit_no_#{student.id}"} %>
    </td>
    <% if student.current_enrollment %>
    <td>
        <%= link_to student.current_enrollment.klass.name , klass_path(student.current_enrollment.klass) %>
    </td>
    <%else %>
    <td class="ui-state-focus">
        <%= link_to 'Assign Class',  {:controller => 'student_enrollment', :action => 'new', :id => student} %>
    </td>
    <%end %>
    <th>
        <%= link_to_remote 'Delete', :url => {:controller => 'schools', :action => 'remove_student',:id => @school, :student_id => student}, :confirm => 'Are you sure?' %>
    </th>
</tr>
