<tr id="student_<%= student.id%>">
    <td>
        <%if student.name %>
        <%= link_to student.name, student_path(student) %>
        <%else %>
        <%= link_to "Profile not created", {:controller => 'user_profiles', :action => 'new', :id => student.user}, {:class => "profile"} %>
        <%end %>
    </td>
    <td>
        <%= student.user.email %>
    </td>
    <td>
        <% if student.school %>
        <input type="button" id="edit_no_<%= student.id %>" class="ui-state-default float_right" value="edit"/><strong id=<%="admission_number_#{student.id}" %>><%=student.admission_number %></strong>
        <%= in_place_editor "admission_number_#{student.id}" ,{:url => {:controller => 'students', :action => 'set_student_admission_number', :id => student},:external_control => "edit_no_#{student.id}"} %>
        <% end %>
    </td>
    <% if student.current_enrollment %>
    <%enrollment = student.current_enrollment %>
    <td>
        <%= link_to enrollment.klass.name , klass_path(enrollment.klass) %>
    </td>
    <td>
        <input type="button" id="edit_roll_no_<%= student.id %>" class="ui-state-default float_right" value="edit"/><strong id=<%="roll_number_#{student.id}" %>><%=student.roll_number %></strong>
        <%= in_place_editor "roll_number_#{student.id}" ,{:url => {:controller => 'students', :action => 'set_student_roll_number', :id => student},:external_control => "edit_roll_no_#{student.id}"} %>
    </td>
    <td  class="ui-state-focus">
        <div id="add-subjects-for-enrollment-<%=enrollment.id%>" style ="display: none;">
        </div>
        <%= link_to_remote  enrollment.subjects.size, :url => edit_student_enrollment_url(enrollment), :method => :get %>
    </td>
    <%elsif student.school %>
    <td class="ui-state-focus">
        <div id="new-enrollment-for-<%=student.id%>" style ="display: none;">
        </div>
        <%= link_to_remote 'Assign Class', :url =>  {:controller => 'student_enrollments', :action => 'new', :student_id => student} %>
    </td>
    <td>
    </td>
    <td>
    </td>
    <% else %>
    <td>
        Allot to school
    </td>
    <td>
    </td>
    <td>
    </td>
    <%end %>
    <th>
        <%= link_to_remote 'Delete', :url => {:action => 'remove_student',:id => student}, :confirm => 'Are you sure?' %>
    </th>
</tr>
