<tr id="student-<%= student.id%>">
    <td class="left">
        <div>
            <%= link_to student.name, student_path(student) %>
        </div>
        <span><%=message_to(student) %></span>
        <div class="detail">
        	<%= link_to student.user.email, student%>
            <% if student.school %>
            <h4>Admission no: <span id=<%="admission_number_#{student.id}" %>><%= student.admission_number %></span><% if permitted_to? :manage, student %> <% if student.admission_number.blank? %><a href="#" id="edit_no_<%=student.id%>">Edit</a><% end %><%= in_place_editor "admission_number_#{student.id}" ,{:url => {:controller => 'students', :action => 'set_student_admission_number', :id => student},:external_control => "edit_no_#{student.id}"} %><% end %></h4>
            <% if student.klass %>
            <h4>Roll no: <span id=<%="roll_number_#{student.id}" %>><%= student.roll_number %></span> <% if permitted_to? :manage, student %><% if student.roll_number.blank? %><a href="#" id="edit_roll_no_<%=student.id%>">Edit</a><% end %><%= in_place_editor "roll_number_#{student.id}" ,{:url => {:controller => 'students', :action => 'set_student_roll_number', :id => student},:external_control => "edit_roll_no_#{student.id}"} %><% end %></h4>
            <% else %>
            <% permitted_to? :add, student  do %>
            <h4><%= link_to_remote 'Assign Class', :url => {:controller => 'students', :action => 'show_add_to_klass_form', :id => student}, :html => {:title => 'Assign Class'} %></h4>
            <% end %>
            <% end %>
            <% else %>
            <% permitted_to? :add, student do %>
            <h4><%= link_to_remote 'Allot to School', :url => {:controller => 'students', :action => 'show_add_to_school_form', :entity_class => 'Student', :entity_id => student}, :html => {:title => 'Allot to School'} %></h4>
            <% end %>
            <% end %>
        </div>
    </td>
    <td class="right">
        <p>
            <% student.papers.each do |paper| %>
            <span class="subject"><%= paper.subject.name %></span>
            <% end %>
            <% permitted_to? :manage, student  do %>
            <%= link_to_remote 'Add/Remove subjects', :url => {:controller => 'students', :action => 'edit_papers', :id => student} if student.klass %>
            <% end %>
        </p>
        <% permitted_to? :delete, student do %>
        <%= link_to_remote 'Delete', :url => {:controller => active_controller,:action => 'remove_student',:id => student}, :html => {:class => "ui-icon ui-icon-trash"}, :confirm => 'Are you sure?' %>
        <% end %>
    </td>
</tr>
