<tr id="student-<%= student.id%>">
    <td class="left">
        <div>
            <%= link_to student.name, student_path(student) %>
        </div>
        <div class="icons">
            <span><%=message_to(student) %></span>
            <span><%= link_to_remote 'Delete', :url => {:controller => active_controller,:action => 'remove_student',:id => student}, :html => {:title => 'Remove', :class => "ui-icon ui-icon-trash"}, :confirm => 'Are you sure?' if permitted_to? :delete, student %></span>
        </div>
        <div class="detail">
            <%= link_to student.user.email, student %>
            <% if student.school %>
                <% if permitted_to? :manage, student %>
                <h4>Admission no: <%= in_place_text_field :student, :admission_number, :object => student , :display_text => ("(Click to enter)" if student.admission_number.blank?) %>
                </h4>
                <% elsif permitted_to? :read, student %>
                <h4>Admission no: <%= student.admission_number %>
                </h4>
                <% end %>
            <% if student.klass %>
                <% if permitted_to? :manage, student %>
                <h4>Roll no: <%= in_place_text_field :student, :roll_number, :object => student , :display_text => ("(Click to enter)" if student.roll_number.blank?) %>
                </h4>
                <% elsif permitted_to? :read, student %>
                <h4>Roll no: <%= student.roll_number %>
                </h4>
                <% end %>
            <% else %>
            <% permitted_to? :add, student  do %>
            <h4><%= link_to_remote 'Assign Class', :url => {:controller => 'students', :action => 'show_add_to_klass_form', :id => student}, :html => {:title => 'Assign Class'} %></h4>
            <% end %>
            <% end %>
            <% else %>
            <% permitted_to? :add, student do %>
            <h4><%= link_to_remote 'Allot to School', :url => {:controller => 'students', :action => 'show_add_to_school_form', :entity_class => 'Student', :entity_id => student}, :html => {:title => 'Allot to School'} %></h4>
            <% end %>
            <% end %>
        </div>
    </td>
    <td class="right">
        <p>
            <% student.papers.each do |paper| %>
            <span class="subject"><%= paper.subject.name %></span>
            <% end %>
            <% permitted_to? :manage, student  do %>
            <%= link_to_remote 'Add/Remove Subjects', :url => {:controller => 'students', :action => 'edit_papers', :id => student} if student.klass %>
            <% end %>
        </p>
    </td>
</tr>
