<p>
  <b>Admission number:</b>
  <%=h @student.admission_number %>
</p>

<p>
  <b>Roll number:</b>
  <%=h @student.roll_number %>
</p>

<p>
  <b>Enrollment:</b>
  <%=h @student.enrollment_id %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>