<% colNames = ["Student email", "Name"]+ activities.collect{|a| "#{a.name}(#{a.max_score})"} %>
<% colModel = [{:width => 250,
:index => 'email',
:name => 'email',
:editable =>  false},
{:width => 200,
:index => 'name',
:name => 'name',
:editable =>  false}] %>
<% activities.each do |activity| %>
<% colModel << {:width => 150, :index => activity.id, :name => activity.id, :sortable => false, :editable => edit,:editrules => {:number => true, :minValue => 0, :maxValue => activity.max_score}} %>
<% end %>
<%= jquery_grid :scores, {:colNames => colNames, :colModel => colModel, :url => grid_data_scores_url(:activities => activities.collect(&:id)), :editurl => row_edit_scores_url(:activities => activities.collect(&:id)) } %>
<center>
    <div style="background :black; color:white;">
       Scores for <%= activities.many? ? " #{activities.first.assessment.long_name}" : " #{activities.first.title}"%>
    </div>
    <%= jquery_grid_table %>
    <%= jquery_grid_pager %>
</center>
<div>
<%= link_to "Export", export_scores_url(:activities => activities.collect(&:id), :format => :xls)  %>
</div>