<% scores.group_by{|score| score.exam.name}.each do |name, e_scores| %>
<table class = "scores">
    <tr class="heading">
        <th colspan="2">
            <h1><%= name %></h1>
        </th>
    </tr>
    <% e_scores.group_by{|score| score.exam.subject}.each do |subject, s_scores| %>
    <tr>
        <td class="left">
            <%=subject.name %>
        </td>
        <% sum= 0 %><% size = 0 %>
        <% s_scores.group_by{|score| score.exam.activity}.each do |activity, a_scores| %>
        <td class="right">
            <span class="activity"><%= activity %>
                <% a_scores.each do |a_score| %>
                <span class="score"><%= a_score.score %>
                </span></span>
            <% end %>
            <% avg = (a_scores.collect(&:score).sum.to_f/a_scores.size).round(2) %>
            <% if a_scores.size > 1 %>
            <span class="average"><%= avg %>
            </span>
            <% end %>
        </td>
        <% sum += avg %>
        <% size += 1 %>
        <% end %>
        <% unless s_scores.first.exam.assessment_type == "SA" %>
        <td class="right">
            <span class="label">Average<span class="gross"><%= (sum/size).round(2) %></span></span>
        </td>
        <% end %>
    </tr>
    <%end %>
</table>
<% end %>
