<% scores.group_by{|score| score.exam.name}.each do |name, e_scores| %>
<table class = "scores">
    <tr class="heading">
        <th colspan="2">
            <h1><%= "#{name}-Scores out of #{e_scores.first.max_score}" %></h1>
        </th>
    </tr>
    <% e_scores.group_by{|score| score.exam.subject}.each do |subject, s_scores| %>
    <tr>
        <td class="left">
            <% if (permitted_to? :edit, s_scores.first) %>
            <% url = edit_scores_exams_path(:ids => s_scores.collect(&:exam_id)) %>
            <%elsif  (permitted_to? :read, s_scores.first) %>
            <% url = view_scores_exams_path(:ids => s_scores.collect(&:exam_id)) %>
            <%else %>
            <%url = nil %>
            <%end %>
            <%=link_to_if url, subject.name, url %>
        </td>
        <td class="right">
            <% s_scores.group_by{|score| score.exam.activity_name}.each do |activity, a_scores| %>
            <span class="activity"><%= activity %>
                <% a_scores.each do |a_score| %>
                <span class="score"><%= a_score.score %>
                </span><% end %>
                <% if a_scores.size > 1 %>
                <span class="average"><%= Score.mean(a_scores) %>
                </span><% end %>
            </span>
            <% end %>
            <% unless s_scores.first.exam.assessment_type == "SA" or  Score.aggregate(s_scores).nil? %>
            <span class="activity emphasis">Average<span class="score emphasis"><%= Score.aggregate(s_scores) %></span></span>
            <% end %>
        </td>
    </tr>
    <%end %>
</table>
<% end %>
