<% scores.group_by{|score| score.exam.name}.each do |name, e_scores| %>
<table class = "scores">
    <tr class="heading">
        <th colspan="2">
            <h1><%= name %></h1>
        </th>
    </tr>
    <% e_scores.group_by{|score| score.exam.subject}.each do |subject, s_scores| %>
    <tr>
        <td class="left">
            <%=subject.name %>
        </td>
        <% s_scores.group_by{|score| score.exam.activity_name}.each do |activity, a_scores| %>
        <td class="right">
            <span class="activity"><%= activity %>
                <% a_scores.each do |a_score| %>
                <span class="score"><%= a_score.score %>
                </span></span>
            <% end %>
            <% if a_scores.size > 1 %>
            <span class="average"><%=  Score.aggregate(a_scores) %>
            </span>
            <% end %>
        </td>
        <% end %>
        <% unless s_scores.first.exam.assessment_type == "SA" %>
        <td class="right">
            <span class="label">Average<span class="gross"><%= Score.aggregate(s_scores) %></span></span>
        </td>
        <% end %>
    </tr>
    <%end %>
</table>
<% end %>
