- AssessmentType.terms.each do |term|
  %table.sep
    %tr.heading
      %th{:colspan => 7}="Term#{term}"
    %tr.sub-heading
      %th=Subject
      -AssessmentType.for_term(term).FA.each do |type|
        %th="#{type.name}(#{@student.klass.weightage_of(type)}%)" 
      %th="Total(FA) #{@student.klass.FA_weightage(term)}%"
      -AssessmentType.for_term(term).SA.each do |type|
        %th="#{type.name}(#{@student.klass.weightage_of(type)}%)" 
      %th="Total1(FA+SA) #{@student.klass.total_weightage(term)}%"
