<h1>Listing scores</h1>

<table>
  <tr>
  </tr>

<% @scores.each do |score| %>
  <tr>
  	<td><%= score.student.user.email %></td>	
  	<td><%= score.exam.exam_type.description %></td>
	<td><%= "#{score.exam.klass.level} - #{score.exam.klass.division}" %></td>	
	<td><%= score.exam.subject.name %></td>
	<td><%= score.score %></td>
    <td><%= link_to 'Show', score %></td>
    <td><%= link_to 'Edit', edit_score_path(score) %></td>
    <td><%= link_to 'Destroy', score, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New score', new_score_path %>