<h1><%= "Scores in #{@exam.exam_type.description}" %></h1>
<h3><%= "Class: #{@exam.klass.level}-#{@exam.klass.division}" %></h3>
<h3><%= "Subject: #{@exam.subject.name}" %></h3>
<% form_tag :action => 'create', :id => @exam do %>
<table>
<% for student in @students %>
<tr>
	<td>
<%= label_tag "scores[#{student.id}]", student.user.email %>
</td>
<td>
<% if @existing_scores.has_key?(student.id) %>
<%= @existing_scores[student.id].score %>
<% else %>
<%= text_field_tag "scores[#{student.id}]", @scores[student.id].score %>
<% end %>
</td>
</tr>
<% end %>
</table>
<p>
    <%= submit_tag 'Save' %>
</p>
<% end %>
<%= link_to 'Back', scores_path %>