<h1>Listing leave_requests</h1>

<table>
  <tr>
    <th>Parent</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Reason</th>
    <th>Status</th>
  </tr>

<% @leave_requests.each do |leave_request| %>
  <tr>
    <td><%=h leave_request.parent_id %></td>
    <td><%=h leave_request.start_date %></td>
    <td><%=h leave_request.end_date %></td>
    <td><%=h leave_request.reason %></td>
    <td><%=h leave_request.status %></td>
    <td><%= link_to 'Show', leave_request %></td>
    <td><%= link_to 'Edit', edit_leave_request_path(leave_request) %></td>
    <td><%= link_to 'Destroy', leave_request, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New leave_request', new_leave_request_path %>