<% form_for :student_enrollment, :url => {:action => :create, :id => @student} do |form| %>
<%= form.error_messages %>
<h2>Enroll <%=@student.user.email %></h2>
<div id="roll_number">
    <table>
        <tr>
            <td>
                Admission Number: 
            </td>
            <td>
                <%=@student.admission_number %>
            </td>
        </tr>
        <tr>
            <td>
                Roll Number: 
            </td>
            <td>
                <%= form.text_field :roll_number %>
            </td>
        </tr>
    </table>
</div>
<%= hidden_field_tag :subject_subscriptions %>
<div>
    <%= render :partial =>'student_enrollments/klasses' %>
</div>
<% end %>
