<% semantic_remote_form_for message, :url => {:controller => :mails, :action => :create, :mail => local_assigns[:mail] }, :html => {:class => "semantic"}, :before => "Element.show('spinner');", :complete => "Element.hide('spinner');" do |f| %>
<%= f.error_messages %>
<table>
    <tr>
        <td colspan=2>
            <%= f.input :recipients, :as => :select, :collection => local_assigns[:users], :selected => local_assigns[:selected_users], :label => false, :input_html => {:class => 'multiselect'} %>
        </td>
    </tr>
    <%message.subject = 'RE:' + mail.message.subject if local_assigns[:mail] %>
    <tr>
        <th>
            Subject
        </th>
        <td>
            <%= f.input :subject, :rows => 1, :label => false %>
        </td>
    </tr>
    <tr>
        <td colspan=2>
            <%= f.input :body, :rows => 5, :as => :text, :label => false %>
        </td>
    </tr>
</table>
<%= f.commit_button :label => 'Post' %>
<%= image_tag 'spinner.gif', :id=>'spinner', :style=>"display:none;" %>
<%end %>
