<% form_remote_tag :url => {:controller => :mails, :action => 'send_reply', :mail => mail } do  %>
<%= flash.now[:notice]%>
		<table>
			<tr>
				<th>
					<%= label :user_id, 'To' %>
            	</th>
	            <td>
	                <%= mail.message.sender.name %>
	            </td>
			</tr>
			<tr>
				<th>
					<%= label :subject, Subject %>
            	</th>
	            <td>
	                <%= text_field_tag :subject, 'RE:' + mail.message.subject%>
	            </td>
			</tr>
			<tr>
            	<td colspan=2>
                	<%= text_area_tag :body, nil, :size => "43x9"%>
            	</td>
        	</tr>
		</table>
		<div>
			<%= submit_tag 'Send' %>
		</div>
	<%end %>
