<h1>Listing users</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Middle name</th>
    <th>Last name</th>
    <th>Address line1</th>
    <th>Address line2</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Pincode</th>
    <th>Phone landline</th>
    <th>Phone mobile</th>
    <th>Email</th>
    <th>Hashed password</th>
    <th>Salt</th>
    <th>Person</th>
    <th>Person type</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.first_name %></td>
    <td><%=h user.middle_name %></td>
    <td><%=h user.last_name %></td>
    <td><%=h user.address_line1 %></td>
    <td><%=h user.address_line2 %></td>
    <td><%=h user.city %></td>
    <td><%=h user.state %></td>
    <td><%=h user.country %></td>
    <td><%=h user.pincode %></td>
    <td><%=h user.phone_landline %></td>
    <td><%=h user.phone_mobile %></td>
    <td><%=h user.email %></td>
    <td><%=h user.hashed_password %></td>
    <td><%=h user.salt %></td>
    <td><%=h user.person_id %></td>
    <td><%=h user.person_type %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>