<p>
    <b>Login:</b>
    <%=h @user.email %>
    -<b>Login count:</b>
    <%=h @user.login_count %>
    -<b>Last request at:</b>
    <%=h @user.last_request_at %>
    -<b>Last login at:</b>
    <%=h @user.last_login_at %>
    -<b>Current login at:</b>
    <%=h @user.current_login_at %>
    -<b>Last login ip:</b>
    <%=h @user.last_login_ip %>
    -<b>Current login ip:</b>
    <%=h @user.current_login_ip %>
</p>
<%= link_to 'Edit', edit_account_path %>
<p>
    <% form_tag "/users/roles/#{@user.id}"  do %>
    <% Role.find(:all).each do |role| %>
    <%= label "role#{role.id}", "#{role.name} , #{role.authorizable_type}" %>
    <%= check_box_tag "role[#{role.id}]", "#{role.id}", role.users.include?(@user) %>
    <br/>
    <% end %>
    <%= submit_tag 'Submit' %>
    <% end %>
</p>
