<%remote_form_for @event, :url => {:action => :update, :id => @event} , :before => "jQuery('#updating_events').show();", :complete => "jQuery('#updating_events').hide();" do |f| %>
<%= f.error_messages %>
<p>
    <%=f.label :title %>
    <br/>
    <%=f.text_field :title %>
</p>
<p>
    <%=f.label :description %>
    <br/>
    <%=f.text_area :description, :rows => 4, :cols => 30 %>
</p>
<p>
    <%=f.label :start_time, 'Start Time' %>
    <br/>
    <%=f.datetime_select :start_time %>
</p>
<p>
    <%=f.label :end_time, 'End Time' %>
    <br/>
    <%=f.datetime_select :end_time %>
</p>
<p>
    <%=f.label :all_day %>
    <%=f.check_box :all_day %>
</p>
<%if false %>
<%period = (@event.event_series)?@event.event_series.period : nil -%>
<p>
    <%=f.label :period, "Repeats" %>
    <%=f.select :period, Event::REPEATS,{:selected => period}, :onchange => "showPeriodAndFrequency(this.value);" %>
</p>
<%frequency = (@event.event_series)?@event.event_series.frequency : nil -%>
<p id = "frequency" style ="display:<%(period)? '' : 'none'%>;">
    <%=f.label :frequency, "Repeat every" %>
    <%=f.select :frequency, (1..30).to_a, {:selected => frequency} %><span id = "period"></span>
</p>
<%end %>
<%=f.hidden_field :commit_button, :value => "" %>
<% if !@users.blank? %>
<p>
    <%= f.label :users, "Participants" %>
    <%= collection_multiple_select(:event, 'user_ids', @users, :id, :name, {:outer_class => 'multiple_select', :inner_class => 'multiple_select_checkbox'}) %>
</p>
<% end %>
<p>
    <%if @event.event_series -%>
    <%=f.submit 'Update Only This Event', :onclick => "document.getElementById('event_commit_button').value = this.value" %>
    <%=f.submit 'Update All Future Events', :onclick => "document.getElementById('event_commit_button').value = this.value" %>
    <%else -%>
    <%=f.submit 'Update', :onclick => "document.getElementById('event_commit_button').value = this.value" %>
    <%end -%>
    <span id = "updating_events" style ="display:none;">Updating, Please wait...</span>
</p>
<%end %>
<% if (@event.recurring) %>
<%= link_to_function "Delete Only This Event", "deleteEvent('#{@event.id}',false)" %>
<%= link_to_function "Delete All Future Events", "deleteEvent('#{@event.id}','future')" %>
<% else %>
<%= link_to_function "Delete", "deleteEvent('#{@event.id}',false)" %>
<% end %>
