%table.events
  %tr
    %th Title
    %td= @event_series.title
  %tr
    %th Notes
    %td= @event_series.description
  %tr
    %th From
    %td= @event.start_time
  %tr
    %th To
    %td= @event.end_time
  - if @event.activity
    %tr
      %th Max Score
      %td= @event.activity.max_score
  %tr
    %th Occurs
    %td= @event_series.period
  %tr
    %th Owner
    %td= link_to @event_series.owner.name, @event_series.owner.person
  %tr
    %th Participants
    %td.participants= @event_series.users.collect{|u| "#{link_to u.name, u.person}"}.to_sentence
    