<p>
  <b>Title:</b>
  <%=h @event.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @event.description %>
</p>

<p>
  <b>Start time:</b>
  <%=h @event.start_time %>
</p>

<p>
  <b>End time:</b>
  <%=h @event.end_time %>
</p>

<p>
  <b>All day:</b>
  <%=h @event.all_day %>
</p>

<p>
  <b>Event series:</b>
  <%=h @event.event_series_id %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>