<% remote_form_for user, :url => user_profile_path, :method => :put do |f| %>
<p><%= user.name %>, please provide your new password</p>
  <%= f.error_messages %>
  <%= f.label :password %><br />
  <%= f.password_field :password %><br />
  <br />
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %><br />
  <br />
  <%= f.submit "Update" %>
<% end %>