<%@qualification=qualification %>
<tr>
   <td id=<%=qualification.id%>>
        <%= check_box_tag("cb[" + qualification.id.to_s + "]"  ) %>
   </td>
    <td>
        <%= text_field("qualification[]" , :university, :size=>21) %>
    </td>
    <td>
        <%= text_field("qualification[]" , :degree, :size=>12) %>
    </td>
    <td>
        <%= text_field("qualification[]" , :subject, :size=>12) %>
    </td>
    <td>
        <%= text_field("qualification[]" , :date, :size=>8) %>
    </td>
</tr>
