<%teacher=qualification_new%>
      <fieldset align=center>
			<table class="center">
            <tr>
            	<th><label for="university">University</label></th>
                <td><%= text_field_tag(:university, "" ,:size => 36)%></td>
            </tr>
            <tr>
           		<th><label for="degree">Degree</label></th>
                <td><%= text_field_tag(:degree, "", :size => 36)%></td>
            </tr>
            <tr>
            	<th><label for="subject">Subject</label></th>
                <td><%= text_field_tag(:subject, "", :size => 36)%></td>
            </tr>
            <tr>
            	<th><label for="date">Date</label></th>
                <td><%= text_field_tag(:date, "", :size => 36)%></td>
            </tr>
			</table>
                <%=link_to_remote 'Add', :url => {:controller => 'user_profiles', :action => 'add_qualification', :id=>teacher}, :with => "'university=' + $('university').value + '&degree=' + $('degree').value + '&subject=' + $('subject').value + '&date=' + $('date').value" %>
        </fieldset>