<% fields_for :person do |school| %>
	<%= school.error_messages %>
	 <table class="ui-state-default center">
		<caption>School Details</caption>
	    <tr>
	        <td>
	            <b><%= school.label :name %>:</b>
	        </td>
	        <td>
	            <%= school.text_field :name %>
	        </td>
	    </tr>
	    <tr>
	        <td>
	            <b><%= school.label :board %>:</b>
	        </td>
	        <td>
	            <%= school.text_field :board %>
	        </td>
	    </tr>
	    <tr>
	        <td>
	            <b><%= school.label :fax %>:</b>
	        </td>
	        <td>
	            <%= school.text_field :fax %>
	        </td>
	    </tr>
	    <tr>
	        <td>
	            <b><%= school.label :website %>:</b>
	        </td>
	        <td>
	            <%= school.text_field :website %>
	        </td>
	    </tr>
	</table>
<%end%>