<%if student.school %>
<table>
    <tr>
        <td>
            <b><%= student.label :school %>:</b>
        </td>
        <td>
            <%= school.text_field :school, :value => student.school.name, :disabled => :true %>
        </td>
    </tr>
    <tr>
        <td>
            <b><%= school.label :admission_number %>:</b>
        </td>
        <td>
            <%= school.text_field :admission_number, :value => student.admission_no, :disabled => :true %>
        </td>
    </tr>
    <tr>
        <td>
            <b><%= school.label :fax %>:</b>
        </td>
        <td>
            <%= school.text_field :fax %>
        </td>
    </tr>
    <tr>
        <td>
            <b><%= school.label :website %>:</b>
        </td>
        <td>
            <%= school.text_field :website %>
        </td>
    </tr>
</table>
