<table class="profile">
    <tr class="heading">
        <th colspan="3">
            <h1>Contact Information</h1>
        </th>
    </tr>
    <tr>
        <td class="left">
            Name:
        </td>
        <td class="right" colspan="2">
            <%=h user_profile.name %>
        </td>
    </tr>
    <tr>
        <td class="left">
            Address:
        </td>
        <td class="right" colspan="2">
            <%=h user_profile.address.address_line_1 %>
            <br/>
            <%=h user_profile.address.address_line_2 %>
            <br/>
            <%=h user_profile.address.city %>
            <br/>
            <%=h user_profile.address.state %>
            <br/>
            <%=h user_profile.address.country %>
        </td>
    </tr>
    <tr>
        <td class="left">
            Pincode:
        </td>
        <td class="right" colspan="2">
            <%=h user_profile.pincode %>
        </td>
    </tr>
    <tr>
        <td class="left">
            Phone Landline:
        </td>
        <td class="right" colspan="2">
            <%=h user_profile.phone_landline %>
        </td>
    </tr>
    <tr>
        <td class="left">
            Phone Mobile:
        </td>
        <td class="right" colspan="2">
            <%=h user_profile.phone_mobile %>
        </td>
    </tr>
</table>
