<% render_breadcrumbs do |add| %>
<% add.crumb_for @person %>
<% add.crumb 'Profile' %>
<% end %>

<% form_for @user_profile, :url => {:controller => :user_profiles, :action => :create, :method => :post, :id => @user} do |user_profile|%>
<%= user_profile.error_messages %>
<div>
    <%= render :partial => "user_profiles/user_profile_form", :locals => {:user_profile => user_profile} %>
</div>
<div>
    <%= render :partial => "user_profiles/" +  @user.person_type.downcase + "_form", :locals => {:person => @person} %>
</div>
<div>
    <%= render :partial => "user_profiles/user_form", :locals => {:user => @user} %>
</div>
<div>
    <p class="icaption_right">
        <br/>
        <%= link_to_function( 'Submit' , "document.forms['new_user_profile'].submit()") %>|<%= link_to 'Back', {:controller => :user_profiles, :action => 'show', :id=>@user} %>
    </p>
</div>
<% end %>
