<% form_for @user_profile, :url => {:controller => :user_profiles, :action => :profile_create, :method => :post, :id => @person} do |profile_form| %>
<!--<%= error_messages_for 'user' %>!-->
  <%= profile_form.error_messages %>
<div class="c38l">
    	<!--TODO Check with Subhash if the partial _form can be used here... Right now using another partial.
    	<% fields_for @user do |user_form| %>
			<%= render :partial => "/users/form", :object => user_form  %>
		<%end%> !-->
		<table>
			<%= render :partial => "user_profiles/profile", :object => profile_form %>
		</table>
	
    
</div>
<div class="c38r">
    <table>
    	<% fields_for @person do |person_form| %>
		<%= person_form.error_messages %>
			<%= render :partial => "user_profiles/" + @person_partial, :object => person_form %>
		<%end%>
    </table>
	
	<% fields_for @user do |user_form| %>
		<%= user_form.error_messages %>
		<table>
			<%= render :partial => "user_profiles/user", :object => user_form %>
		</table>
	<%end%>
	
</div>
<div class="c38r">
    <p class="icaption_right">
        <br/>
		<%= link_to_function( 'Submit' , "document.forms['new_user_profile'].submit()")%>
        <% end %>
    </p>
</div>

