<div class="c38l">
    <table>
        <tr>
            <td>
                <b>User Name:</b>
            </td>
            <td>
                <%=h @user_profile.name.to_s %>
            </td>
        </tr>
        <tr>
            <td>
                <b>Address:</b>
            </td>
            <td>
                <%=h @user_profile.address.address_line_1 %>
                <br/>
                <%=h @user_profile.address.address_line_2 %>
                <br/>
                <%=h @user_profile.address.city %>
                <br/>
                <%=h @user_profile.address.state %>
                <br/>
                <%=h @user_profile.address.country %>
            </td>
        </tr>
        <tr>
            <td>
                <b>Pincode:</b>
            </td>
            <td>
                <%=h @user_profile.pincode %>
            </td>
        </tr>
        <tr>
            <td>
                <b>Phone landline:</b>
            </td>
            <td>
                <%=h @user_profile.phone_landline %>
            </td>
        </tr>
        <tr>
            <td>
                <b>Phone mobile:</b>
            </td>
            <td>
                <%=h @user_profile.phone_mobile %>
            </td>
        </tr>
    </table>
</div>
<div class="c38r">
    <%= render :partial => "user_profiles/" + @person_partial + "_details" %>
    <table>
        <tr>
            <td>
                <b>Email:</b>
            </td>
            <td>
                <%=h @user.email %>
            </td>
        </tr>
    </table>
    <br/>
    <p class="icaption_right">
        <% current_user = @user %>
        <% if current_user == @user %>
        <%= link_to 'Edit', {:controller => :user_profiles, :action => 'profile_edit', :id=>@person} %>|<% end %>
        <%= link_to 'Back', {:controller => @person_partial.pluralize, :action => 'show', :id=>@person} %>
    </p>
</div>
