<% if @user_profile %>
<div>
    <table class="ui-state-default">
    	<caption>User Details</caption>
        <tr>
            <td>
                <b>User Name:</b>
            </td>
            <td>
                <%=h @user_profile.name.to_s %>
            </td>
        </tr>
        <tr>
            <td>
                <b>Address:</b>
            </td>
            <td>
                <%=h @user_profile.address.address_line_1 %>
                <br/>
                <%=h @user_profile.address.address_line_2 %>
                <br/>
                <%=h @user_profile.address.city %>
                <br/>
                <%=h @user_profile.address.state %>
                <br/>
                <%=h @user_profile.address.country %>
            </td>
        </tr>
        <tr>
            <td>
                <b>Pincode:</b>
            </td>
            <td>
                <%=h @user_profile.pincode %>
            </td>
        </tr>
        <tr>
            <td>
                <b>Phone Landline:</b>
            </td>
            <td>
                <%=h @user_profile.phone_landline %>
            </td>
        </tr>
        <tr>
            <td>
                <b>Phone Mobile:</b>
            </td>
            <td>
                <%=h @user_profile.phone_mobile %>
            </td>
        </tr>
    </table>
</div>
<% end %>
<div style="height:0.3em"/></div>
<div>
    <%= render :partial => "user_profiles/" + @person_partial + "_details" %>
	<div style="height:0.3em"/></div>
    <table class="ui-state-default">
    	<caption>Login Details</caption>
        <tr>
            <td>
                <b>Email:</b>
            </td>
            <td>
                <%=h @user.email %>
            </td>
        </tr>
    </table>
</div>
<div>
	<p class="icaption_right">
        <% if controller.allow_write(@user.person) %>
		<div class="small_button ui-state-default ui-corner-all float_left">
        <%= link_to 'Edit', {:controller => :user_profiles, :action => 'edit', :id=>@user} %>
		</div>
		<div class="small_button ui-state-default ui-corner-all float_left">
		<%= link_to 'Back', {:controller => @person_partial.pluralize, :action => 'show', :id=>@person} %>
		</div>
		<% end %>
    </p>
</div>
