<tr id="subject-<%= subject.id%>">
    <td class="ui-state-default">
        <%= subject.name %>
    </td>
    <% if teacher_allotment %>
    <td>
        <% teacher = teacher_allotment.first.teacher %>
        <%if teacher.name %>
        <%=link_to teacher.name, teacher_path(teacher) %>
        <%else %>
        <%=link_to "Profile not created", {:controller => 'user_profiles', :action => 'new', :id => teacher.user}, {:class => "profile"} %>
        <%end %>
    </td>
    <td>
        <%= link_to_remote 'Remove Assignment', :url => {:controller => 'klasses', :action => 'delete_allotment',:id => teacher_allotment.first}, :confirm => 'Are you sure?' %>
    </td>
    <%else %>
    <td class="ui-state-focus">
        <div id="assign-teacher-dialog-<%= subject.id%>" style ="display: none;">
            <%= render :partial => 'teacher_allotments/new',:locals => {:teacher_allotment => TeacherAllotment.new(:klass_id =>klass.id, :subject_id => subject.id), :teachers => klass.school.teachers } %>
        </div>
        <%= link_to_function "Assign Teacher" do |page|
        page << "bindDialog('assign-teacher-dialog-#{subject.id}');"
        page << "openDialog('assign-teacher-dialog-#{subject.id}');"
        end %>
    </td>
    <%end %>
</tr>
