<tr id="<%= subject.id%>" class="subject">
    <td class="ui-state-default">
        <%= subject.name %>
    </td>
    <td>
        <% if teacher_allotment %>
		<% puts "teacher_allotment =" + teacher_allotment.first.inspect%>
        <% teacher = teacher_allotment.first.teacher %>
        <%= link_to teacher.name, teacher_path(teacher) %>
        <%else %>
        <%= link_to_remote "Assign Teacher" %>
        <%end %>
    </td>
    <td>
        <%= link_to_remote 'Delete', :url => {:controller => 'klasses', :action => 'delete_subject',:id => klass, :subject_id => subject}, :confirm => 'Are you sure?' %>
    </td>
</tr>
