<script type="text/javascript">
    jQuery(function(){
        jQuery('#allotments_selectable').selectable({
            filter: 'td'
        });
        jQuery("#allotments_selectable").bind('selectablestop', function(event, ui){
            allotment_indices = "";
            jQuery('#allotments_selectable td.ui-selected').each(function(i){
                id = this.id;
                allotment_indices += "," + id;
            });
        });
    });
</script>
    <% if !@teacher_allotments.nil? &&  !@teacher_allotments.empty?%>
    <% allotment_list=@teacher_allotments %>
<table id="allotments_selectable" class="selectable" style="margin:auto;">

    
    <% allotment_list.each do |subject, subject_klasses| %>
    <tr>
        <th>
            <%=Subject.find(subject).name %>
        </th>
        <%subject_klasses.each do |allotment| %>
        <td id=<%=allotment.id%>
            class="ui-state-default"> <%=Klass.find(allotment.klass_id).level.to_s + " " + Klass.find(allotment.klass_id).division.to_s %>
        </td>
        <%end %>
    </tr>
    <% end %>

</table>

<div class="button ui-state-default ui-corner-all center">
    <%= link_to_remote 'Delete',:url => {:controller => 'teachers', :action => 'delete_allotments', :id=>@teacher}, :with => "'allotments=' + allotment_indices", :confirm => 'Are you sure?' %>
</div>

	<%else%>
		<blockquote>No allotment to delete</blockquote>
		<div class="button ui-state-default ui-corner-all center">
    	<%= link_to_remote 'Close',:url => {:controller => 'teachers', :action => 'close_delete_allotments', :id=>@teacher}%>
</div>
	<%end %>
