<%subject_id=klasses.first%>


<%if !klasses.last.empty?%>
<table id="<%= subject_id.to_s + '-klasses_selectable'%>" class="selectable no-border">   
<%= javascript_include_tag 'teachers/klasses'%>
	<caption>
        Select klasses
        <br />
    </caption>
	
   <% klasses.last.each do |level, level_klasses| %>
    <tr>
        <th>
            <%=level %>
        </th>
        <%level_klasses.each do |klass| %>
		<%if @preSelectedItems[subject_id].include?(klass)%>
		<td id=<%=klass.id%> class="pre-selected"> 
            <%if ['Pre-school', 'L.K.G','U.K.G','Mont1','Mont2','Mont3'].include?(level.to_s) %>
            <%=klass.division %>
            <%else %>
            <%="#{klass.level}#{klass.division}" %>
            <%end %>
        </td>
		<%else%>
		<td id=<%=klass.id%> class="ui-state-default selectFilter">
		<%if ['Pre-school', 'L.K.G','U.K.G','Mont1','Mont2','Mont3'].include?(level.to_s) %>
            <%=klass.division %>
            <%else %>
            <%="#{klass.level}#{klass.division}" %>
            <%end %>
        </td>
		<%end%>
        <%end %>
    </tr>
    <% end %>
	</table>

<div style="clear:both">
	<br />
</div>

<div class="button ui-state-default ui-corner-all">
    <%= link_to 'Add',{ :action => 'add_allotments', :id=>@teacher, :subject_id => subject_id }, {:onclick => " if (typeof(klass_indices) == 'undefined') {return false; } else { this.href +='&klasses='+klass_indices;}; return true;"}%>
</div>
<%end%>
