<%subject_id=klasses.first%>

<%if !klasses.last.empty?%>
<table id="<%= subject_id.to_s + '-klasses_selectable'%>" class="selectable no-border">   
	<caption>
        Select klasses
        <br />
    </caption>
   <% klasses.last.each do |level, level_klasses| %>
    <tr>
        <th>
            <%=level %>
        </th>
        <%level_klasses.each do |klass| %>
			<td id=<%=klass.id%> <%if @preSelectedItems[subject_id].include?(klass) %>class="pre-selected"<%else%>class="ui-state-default selectFilter"<%end%>> 
				<%=render :partial => 'klass', :object => klass%> 
        	</td>
        <%end %>
    </tr>
    <% end %>
	</table>

<div style="clear:both">
	<br />
</div>

<div class="button ui-state-default ui-corner-all center">
    <%= link_to 'Add',{ :action => 'add_allotments', :id=>@teacher, :subject_id => subject_id }, {:onclick => " if (typeof(klass_indices) == 'undefined') {return false; } else { this.href +='&klasses='+klass_indices;}; return true;"}%>
</div>
<%end%>
