<tr class="teacher_<%= teacher.id%>">
    <td>
        <%= link_to teacher.name, {:controller => :teachers, :action => 'show', :id => teacher} %>
    </td>
    <td>
        <%= link_to teacher.user.email, {:controller => 'user_profiles', :action => 'show', :id => teacher.user} %>
    </td>
	<%if controller.controller_name=='users'%>
    	<%if teacher.school %> 
			<td><%=teacher.school.name%> </td>
		<%else%>
			<td align="center">
				<%= link_to_remote 'Assign School', :url => '#', :html => {:class => "cell-link"}%>
			</td>
		<%end%>
	<%end%>
    <td>
        <%teacher.currently_owned_klasses.each do |klass| %>
        	<%= link_to klass.name + "  ", {:controller => :klasses, :action => 'show', :id=>klass} %>
        <%end %>
    </td>
	<td>
	    <%if !teacher.current_subjects.empty?%>
			<%=teacher.current_subjects.index_by{|subject| subject.name}.keys.join(", ")%>
		<%end%>
    </td>
    <td>
	    <% if teacher.school %>
		  		<%= link_to_remote 'Add/Remove Subjects', '#', {:class => "ui-icon ui-icon-pencil", :title => 'Add/Remove Subjects'} %>
		<% end %>
    </td>
    <td>
        <%= link_to_remote 'Delete', :url => { :action => 'remove_teacher',:id => teacher}, :html => {:class => "ui-icon ui-icon-trash", :title => 'Delete'}, :confirm => 'Are you sure?' %>
    </td>
</tr>
