<%active_cntrlr=local_assigns[:active_cntrlr] || controller.controller_name%>
<tr id="teacher_<%= teacher.id%>">
    <td>
        <%= link_to teacher.name, {:controller => :teachers, :action => 'show', :id => teacher} %>
    </td>
    <td>
        <%= link_to teacher.user.email, {:controller => 'user_profiles', :action => 'show', :id => teacher.user} %>
    </td>
	<%if active_cntrlr=='users'%>
    	<%if teacher.school %> 
			<td><%= link_to teacher.school.name, school_path(teacher.school)%> </td>
		<%else%>
			<td align="center" class="ui-state-focus">
				<%= link_to_remote 'Allot to School', :url => {:controller => 'teachers', :action => 'show_add_to_school_form', :entity_class => 'Teacher', :entity_id => teacher}, :html => {:class => ""}%>
			</td>
		<%end%>
	<%end%>
    <td>
        <%teacher.owned_klasses.each do |klass| %>
        	<%= link_to klass.name + "  ", {:controller => :klasses, :action => 'show', :id=>klass} %>
        <%end %>
    </td>
	<td>
	    <%if teacher.papers%>
			<%=teacher.subjects.index_by{|subject| subject.name}.keys.join(", ")%>
		<%end%>
    </td>
	<%if active_cntrlr != 'users'%>
    <td class="ui-state-focus">
	    <% if teacher.school %>
	  		<%= link_to_remote 'Add/Remove Papers', :url => {:controller => :teachers, :action => 'edit', :id => teacher}, :method => :get, :html => {:class => "ui-icon ui-icon-pencil", :title => 'Add/Remove Papers'} %>
		<% end %>
    </td>
	<%end%>
    <td class="ui-state-focus">
        <%= link_to_remote 'Delete', :url => {:controller => active_cntrlr, :action => 'remove_teacher',:id => teacher}, :html => {:class => "ui-icon ui-icon-trash", :title => 'Delete'}, :confirm => 'Are you sure?' %>
    </td>
</tr>
