        <tr class="teacher-row">
            <td>
                <%if teacher.user.user_profile then action='show'; label= teacher.user.user_profile.name; class_name="" else action='new'; label= "Create Profile"; class_name="cell-link" end%>
                <%= link_to label, {:controller => 'user_profiles', :action => action, :id => teacher.user}, {:class => class_name} %>
            </td>
            <td>
                <%= link_to teacher.user.email, {:controller => 'user_profiles', :action => action, :id => teacher.user} %>
            </td>
            <td>
                <%teacher.currently_owned_klasses.each do |klass|%>
				<%= link_to klass.name + "  ", {:controller => :klasses, :action => 'show', :id=>klass}%>
				<%end%>
            </td>
			<td>
				<%if !subjects[teacher.id].nil? && !subjects[teacher.id].empty?%>
					<%=subjects[teacher.id].collect{|allotment| allotment.subject.name}.uniq.join(",") %>
				<%end%>
			</td>
			<td>		
                <% if !teacher.current_allotments.empty? then label='Show Details'; action='show'; css_class="ui-icon ui-icon-info" else label='Make Allotments'; action='allot'; css_class="ui-icon ui-icon-pencil" end%>
                	<%= link_to label,  {:controller => 'teachers', :action => action, :id => teacher}, {:class => css_class} %>
            </td>
        </tr>