<%= javascript_include_tag 'teachers/allot' %>
<div class=c25l>
    <table id="subjects_selectable" class="sticker no-border">
        <caption>
            Select a Subject
            <br/>
        </caption>
        <% @subjects.each do |subject| %>
        <tr>
            <td id=<%=subject.id%> class="ui-state-default sticker wider" >
				<%= link_to_function subject.name,  "showKlasses('#{subject.id}')" %>
            </td>
        </tr>
        <% end %>
    </table>
</div>

<div class=c66r>
    <div id="klasses">
        <% @subjects.each do |subject| %>
        <div id="<%=subject.id.to_s + '-klasses'%>" class="klass-div" style="display: none;">
            <%=render :partial => "klasses", :object => @allotmentItems[subject.id]%>
        </div>
        <% end %>
    </div>
</div>
