<%= javascript_include_tag 'teachers/allot' %>
<div class=c38l>
    <table id="subjects_selectable" class="sticker no-border">
        <caption>
            Select a Subject
            <br/>
        </caption>
        <% @allotment_subjects.each do |subject| %>
        <tr>
            <td id=<%=subject.id%> class="ui-state-default sticker wider" >
                <%= link_to_function subject.name,  "hideShowDivs('#klasses .klass-div', '##{subject.id.to_s + '-klasses'}')" %>
            </td>
        </tr>
        <% end %>
    </table>
</div>
<div class=c38r>

    <div id="klasses">
        <% @allotment_subjects.each do |subject| %>
        <div id="<%=subject.id.to_s + '-klasses'%>" class="klass-div" style="display: none;">
            <%=render :partial => "klasses", :object => @array_subject_klasses[subject.id]%>
        </div>
        <% end %>
    </div>
</div>
