<h1>Editing teacher</h1>

<% form_for(@teacher) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :school_id %><br />
    <%= f.text_field :school_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @teacher %> |
<%= link_to 'Back', teachers_path %>