<tr id="paper-<%= paper.id%>">
    <td class="ui-state-default">
        <%= paper.subject.name %>
    </td>
	<td class="ui-state-focus">
        <%= link_to_remote  paper.students.size, :url => {:controller => 'students', :action => 'edit_subjects', :id => student} %>
    </td>
    <% if teacher_klass_allotment %>
		<%teacher_subject_allotment=teacher_klass_allotment.teacher_subject_allotment%>
	    <td>
	        <%=link_to teacher_subject_allotment.teacher.name, teacher_path(teacher_subject_allotment.teacher) %>
	    </td>
	    <td class="ui-state-focus">
	        <%= link_to_remote 'Remove Assignment', :url => {:controller => 'teacher_allotments', :action => 'delete_teacher_allotment', :id => teacher_klass_allotment, :entity_klass => entity_klass}, :confirm => 'Are you sure?' %>
	    </td>
    <%else %>
	    <td class="ui-state-focus">
	    	<%= link_to_remote 'Allot Teacher', :url => {:controller => 'teacher_allotments', :action => 'allot_teacher_new', :subject => subject, :klass => klass, :entity_klass => entity_klass} %>
	    </td>
    <%end %>
</tr>
