%table[paper]
  %td.left(rowspan="#{paper.assessments.uniq.size + 1}")
    %span.icon= message_to(paper)
    - if active_controller == 'klasses'
      %span.icon
        = link_to_remote 'Delete', :url => paper_url(paper), :method => :delete, :html => {:title => "Remove #{paper.name}", :class => "ui-icon ui-icon-trash"}, :confirm => 'Are you sure?' if permitted_to? :delete, paper
    %span= @teacher ? paper.klass.name+ " - " + paper.subject.name : paper.subject.name
    - if @student and paper.total_score_for(@student)
      %div.detail.score
        = link_to_remote "#{trim(paper.total_score_for(@student))}", :url => {:controller => 'scores', :action => 'total_calculation', :id => paper, :student_id => @student} 
        %span.out_of (out of 100)
    - unless @student
      .detail
        %span= pluralize(paper.students.size, 'students')
        = link_to_remote  '(Edit)', :url => {:controller => 'papers', :action => 'edit_students', :id => paper} if (permitted_to? :manage, paper and permitted_to? :update, :students)
        %div
          = link_to paper.teacher.name, teacher_path(paper.teacher) if paper.teacher
          - if (permitted_to? :manage, paper and permitted_to? :update, :teachers)
            - html =  {:title => "Change teacher", :class => "ui-state-default ui-corner-all ui-icon ui-icon-pencil"} if paper.teacher 
            = link_to_remote((paper.teacher ? 'Change' : 'Allot Teacher'), :url => {:controller => 'papers', :action => 'edit_teacher', :id => paper} , :html => html) 
  - paper.formative_assessments.each do |assessment|
    = render :partial => 'assessments/assessment', :object => assessment
  - paper.summative_assessments.each do |assessment|      
    = render :partial => 'assessments/assessment', :object => assessment