<tr id="paper-<%= paper.id%>">
    <td class="left">
        <div>
            <%= paper.subject.name %>
        </div>
		<span><%=message_to(paper)%></span>
        <div class="detail">
            <span><%=pluralize(paper.students.size, 'students') %></span>
            <%= link_to_remote  '(Edit)', :url => {:controller => 'papers', :action => 'edit_students', :id => paper} %>
        </div>
    </td>
    <td class="right">
        <%= link_to paper.teacher.name, teacher_path(paper.teacher) if paper.teacher %>
        <%= link_to_remote (paper.teacher ? '(Edit)' : 'Allot teacher' ), :url => {:controller => 'papers', :action => 'edit_teacher', :id => paper} %>
        <!-- TODO page context -->
        <%if active_controller == 'klasses' %>
        <%= link_to_remote "Delete", :url => paper_url(paper), :method => :delete, :html => {:class => "ui-icon ui-icon-trash"}, :confirm => 'Are you sure?' %>
        <%end %>
    </td>
</tr>
