<% form_for :student_enrollment, :url => {:action => :update, :id => @student_enrollment} do |form| %>
<h2>Change enrollment for <%=@student.user.email %></h2>
<%= form.error_messages %>
<div class=c62l>
    <strong>Select a class</strong>
    <div>
        <%= render :partial =>'klasses/list', :locals => {:subjects_controller => 'student_enrollment', :subjects_action => 'subjects_list'} %>
    </div>
    <h3 id="heading"></h3>
    <div id="roll_number">
        <table>
            <tr>
                <td>
                    Admission Number: 
                </td>
                <td>
                    <%=@student.admission_number %>
                </td>
            </tr>
            <tr>
                <td>
                    Roll Number: 
                </td>
                <td>
                    <%= form.text_field :roll_number %>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class=c38r>
    <%= hidden_field_tag :subject_subscriptions %>
    <strong id="select_subjects_heading"></strong>
    <div id="subjects" class="selectable">
    </div>
    <div id="enroll_submit_button" class="float_left">
    </div>
</div>
<% end %>
