<script type="text/javascript">
        jQuery(function(){
            jQuery("#accordion").accordion({
                autoHeight: false,
				active: "#activate_this"
            });
    	});
                   
            jQuery(document).ready(function(){
                jQuery('.accordion .head').click(function(){
                    this.next().toggle();
                    return false;
                }).next().hide();
            });

</script>
<%school=index%>
<%if !@exam_groups.nil? && !@exam_groups.empty? %>
<h3>Exam groups of <%=school.name %></h3>
<div id="accordion">
    <% @exam_groups.each do |klass, egs| %>

<%if @exam_group%>
	<%if @exam_group.klass.id.to_s==klass.id.to_s%>
		<h3 id="activate_this"><a href="#"><%=klass.name %></a></h3>
	<%else%>
		<h3><a href="#"><%=klass.name %></a></h3>
	<%end%>
<%else%>
	<h3><a href="#"><%=klass.name %></a></h3>
<%end%>
    <div>
        <table id="<%=klass.id.to_s + '_content_table'%>" class="ui-state-default" border="1px">
            <%=render :partial => 'exam_groups/exam_group' , :collection => egs %>
        </table>
        <div class="small_button ui-state-default ui-corner-all center">
            <div id="add_button">
                <%= link_to_remote 'Add Exam Group', :url => {:controller => :exam_groups, :action => 'add_exam_group_dialog_show', :id=>klass} %>
            </div>
        </div>
    </div>
    <% end %>
</div>
<div id="dialog_add_exam_group" title="Add Exam Group" style="display: none;">
    <div id="add_exam_group">
    </div>
</div>
<%else %>
<br/>
<blockquote>
    No class exists for <%=school.name%> <br/>Go to the Classes tab or <br/><%=link_to 'Click Here', {:controller => :schools, :action => 'klasses', :id=>school.id}%> to create classes.
</blockquote>
<%end %>