<fieldset align=center>
			<table class="center">
            <tr>
            	<th><label for="subject">Subject</label></th>
				<td><%= select_tag(:subject, options_from_collection_for_select(@subjects,:id,:name,{:selected => 9}), { :style => "width: 231px"} ) %></td>
            </tr>
            <tr>
           		<th><label for="start_time">Start Time</label></th>
                <td><%= text_field_tag(:start_time, "", :size => 36)%></td>
            </tr>
            <tr>
            	<th><label for="end_time">End Time</label></th>
                <td><%= text_field_tag(:end_time, "", :size => 36)%></td>
            </tr>
            <tr>
            	<th><label for="venue">Venue</label></th>
                <td><%= text_field_tag(:venue, "", :size => 36)%></td>
            </tr>
			<tr>
            	<th><label for="max_score">Max Score</label></th>
                <td><%= text_field_tag(:max_score, "", :size => 36)%></td>
            </tr>
			<tr>
            	<th><label for="pass_score">Pass Score</label></th>
                <td><%= text_field_tag(:pass_score, "", :size => 36)%></td>
            </tr>
			</table>
                <%=link_to_remote 'Add', :url => {:controller => 'schools', :action => 'add_exam', :id=>@exam_group}, :with => "'subject=' + $('subject').value + '&start_time=' + $('start_time').value + '&end_time=' + $('end_time').value + '&venue=' + $('venue').value + '&max_score=' + $('max_score').value + '&pass_score=' + $('pass_score').value" %>
        </fieldset>