<%@exam=exam_item %>
<tr>
    <div id=<%=exam_item.id%>>
        <td>
            <%= check_box_tag("cb[" + @exam.id.to_s + "]" ) %>
        </td>
    </div>


    <td>
        <%= text_field("exam[]" , :start_time, :size=>9) %>
    </td>
    <td>
        <%= text_field("exam[]" , :end_time, :size=>9) %>
    </td>
    <td>
        <%= text_field("exam[]" , :venue, :size=>20) %>
    </td>
	<td>
        <%= text_field("exam[]" , :max_score, :size=>3) %>
    </td>
	<td>
        <%= text_field("exam[]" , :pass_score, :size=>3) %>
    </td>
</tr>
