<table class="ui-state-default" border="1px">
    <caption>
        Teachers of <%=@school.name %>
        <br/>
    </caption>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Owns
            </th>
            <th>
                Allotments
            </th>
        </tr>
    </thead>
    <tbody>
        <% @teachers.each do |teacher| %>
        <tr>
            <td>
                <%if teacher.user.user_profile %>
                <%= link_to teacher.user.user_profile.name, {:controller => 'user_profiles', :action => 'show', :id => teacher.user} %>
                <%else %>
                <%= link_to "Create Profile", {:controller => 'user_profiles', :action => 'new', :id => teacher.user}, {:class => "cell-link"} %>
                <%end %>
            </td>
            <td>
                <%= link_to teacher.user.email, {:controller => 'user_profiles', :action => 'show', :id => teacher.user} %>
            </td>
            <td>
                <%teacher.currently_owned_klasses.each do |klass|%>
				<%= link_to klass.name + " ", {:controller => :klasses, :action => 'show', :id=>klass}%>
				<%end%>
            </td>
            <% if !teacher.current_allotments.empty? %>
            <td>
                <%= link_to 'Show Allotments',  {:controller => 'teachers', :action => 'show', :id => teacher}, {:style => "font-style:italic;"} %>
            </td>
            <%else %>
            <td>
                <%= link_to 'Make Allotments',  {:controller => 'teachers', :action => 'allot', :id => teacher}, {:class => "cell-link"} %>
            </td>
            <%end %>
        </tr>
        <%end %>
    </tbody>
</table>
