<% form_for(@school) do |school_form| %>
  <%= school_form.error_messages %>
<div class="c38l">
    <table>
		<tr>
            <td>
                <b><%= school_form.label :name %>:</b>
            </td>
            <td>
                <%= school_form.text_field :name %>
            </td>
        </tr>
  		<% fields_for @user do |user_form| %>		
		<tr>
            <td>
                <b><%= user_form.label :email %>:</b>
            </td>
            <td>
                <%= user_form.text_field :email %>
            </td>
        </tr>
		<% end %>
		<% fields_for @user_profile do |profile_form| %>	
        <tr>
            <td>
                <b><%= profile_form.label :Address %>:</b>
            </td>
            <td>
                <%= profile_form.text_field :address_line_1 %> 
                <br/>
                Convent Jn.
                <br/>
                Kochi 
                <br/>
                Kerala 
                <br/>
                India 
                <br/>
            </td>
        </tr>
        <tr>
            <td>
                <b>Pincode:</b>
            </td>
            <td>
                <%= profile_form.text_field :pincode %> 
            </td>
        </tr>
        <tr>
            <td>
                <b>Phone landline:</b>
            </td>
            <td>
                <%= profile_form.text_field :phone_landline %>
            </td>
        </tr>
        <tr>
            <td>
                <b>Phone mobile:</b>
            </td>
            <td>
                <%= profile_form.text_field :phone_mobile %> 
            </td>
        </tr>
    </table>
</div>
	<% end %>
<div class="c38r">
    <table>

        <tr>
            <td>
                <b><%= school_form.label :board %>:</b>
            </td>
            <td>
                <%= school_form.text_field :board %>
            </td>
        </tr>
        <tr>
            <td>
                <b><%= school_form.label :fax %>:</b>
            </td>
            <td>
                <%= school_form.text_field :fax %>
            </td>
        </tr>
        <tr>
            <td>
                <b><%= school_form.label :website %>:</b>
            </td>
            <td>
                <%= school_form.text_field :website %>
            </td>
        </tr>
    </table>
</div>
<div class="c38r">
    <p class="icaption_right">
        <br/>
		<!--<%= link_to_function "submit", "$(this).up('user_form').submit()" %> |!-->
		<%= school_form.submit %> | 
        <%= link_to 'Back', {:controller => :schools, :action => 'profile', :id=>@user} %>
	<% end %>
    </p>
</div>

