<div id="col1">
    <div id="col1_content" class="clearfix">
        <%=render :partial => 'schools/subjects_edit' %>
    </div>
</div>
<div id="col2">
    <div id="col2_content" class="clearfix">
        <h3>Listing classes in <%=@school.name %>for the year - <%=@year %></h3>
        <div id="klasses_list">
            <%= render :partial =>'klasses/list' %>
        </div>
        <%= link_to 'New class', new_school_klass_path(@school, @klass) %>
        <div class="button ui-state-default ui-corner-all">
            <%= link_to_remote 'Delete classes',:url => {:controller => 'schools', :action => 'list_delete_klasses', :id=>@school} %>
        </div
        <div id="delete_klasses_dialog" title="Select classes to delete" style="display: none;">
            <div id="delete_klasses_list">
                <%= render :partial =>'klasses/delete' %>
            </div>
        </div>
    </div>
</div>
<div id="col3">
    <div id="col3_content" class="clearfix">
        <div id="klass_subjects_edit" style="display: none;">
        </div>
        <div id="add_subjects_dialog" title="Select subjects to add" style="display: none;">
            <div id="add_subjects_dialog_controls">
                
            </div>
        </div>
    </div>
    <div id="ie_clearing">
        &#160; 
    </div>
</div>
