<h1>New school</h1>
<% form_for(@school) do |f| %>
<%= f.error_messages %>
<p>
	<%= render :partial => 'users/invite_input' %>
</p>
<p>
    <%= f.label :name %>
    <br/>
    <%= f.text_field :name %>
</p>
<p>
    <%= f.label :board %>
    <br/>
    <%= f.text_field :board %>
</p>
<p>
    <%= f.label :fax %>
    <br/>
    <%= f.text_field :fax %>
</p>
<p>
    <%= f.label :website %>
    <br/>
    <%= f.text_field :website %>
</p>
<p>
    <%= f.submit 'Invite' %>
</p>
<% end %>
<%= link_to 'Back', schools_path %>