<% form_for @user_profile, :url => {:controller => :schools, :action => :profile_create, :method => :post, :id => @school} do |profile_form| %>
  <%= profile_form.error_messages %>
<div class="c38l">
    <table>
		<% fields_for @user do |user_form| %>
		<tr>
            <td>
                <b><%= user_form.label :email %>:</b>
            </td>
            <td>
            	<%= user_form.text_field :email%>
            </td>
        </tr>		
		<%end%>
		<tr>
            <td>
                <b>User Name:</b>
            </td>
            <td>
            	<%= profile_form.text_field :first_name%>
				<%= profile_form.text_field :middle_name%>
				<%= profile_form.text_field :last_name%>
            </td>
        </tr>		
        <tr>
            <td>
                <b><%= profile_form.label :Address %>:</b>
            </td>
            <td>
                <%= profile_form.text_field :address_line_1 %> 
				<%= profile_form.text_field :address_line_2 %>
				<%= profile_form.text_field :city %>
				<%= profile_form.text_field :state %>
				<%= profile_form.text_field :country %>
            </td>
        </tr>		
        <tr>
            <td>
                <b><%= profile_form.label :pincode %>:</b>
            </td>
            <td>
                <%= profile_form.text_field :pincode %> 
            </td>
        </tr>
        <tr>
            <td>
                <b><%= profile_form.label :phone_landline %>:</b>
            </td>
            <td>
                <%= profile_form.text_field :phone_landline %>
            </td>
        </tr>
        <tr>
            <td>
                <b><%= profile_form.label :phone_mobile %>:</b>
            </td>
            <td>
                <%= profile_form.text_field :phone_mobile %> 
            </td>
        </tr>
    </table>
</div>
<div class="c38r">
    <table>
    	<% fields_for @school do |school_form| %>
		<tr>
            <td>
                <b><%= school_form.label :name %>:</b>
            </td>
            <td>
				<%= school_form.text_field :name%>
            </td>
        </tr>
        <tr>
            <td>
            	<b><%= school_form.label :board %>:</b>
            </td>
            <td>
				<%= school_form.text_field :board%>				
            </td>
        </tr>
        <tr>
            <td>
                <b><%= school_form.label :fax %>:</b>
            </td>
            <td>
                <%= school_form.text_field :fax%>
            </td>
        </tr>
        <tr>
            <td>
                <b><%= school_form.label :website %>:</b>
            </td>
            <td>
                <%= school_form.text_field :website%>
            </td>
        </tr>
		<%end%>
    </table>
</div>
<div class="c38r">
    <p class="icaption_right">
        <br/>
		<%= link_to_function( 'Submit' , "document.forms['new_user_profile'].submit()")%>
        <% end %>
    </p>
</div>

