<% form_for @school, :url => {:controller => :schools, :action => 'profile_update', :id=>@school } do |school_form| %>
  <%= school_form.error_messages %>
<div class="c38l">
    <table>
	<%= render :partial => "/user" %>
	<% fields_for @user_profile do |profile_form| %>	
		<%= render :partial => "/profile", :object => profile_form %>
    </table>
	<% end %>
</div>

<div class="c38r">
    <table>
		<tr>
            <td>
                <b><%= school_form.label :name %>:</b>
            </td>
            <td>
                <%= school_form.text_field :name %>
            </td>
        </tr>
        <tr>
            <td>
                <b><%= school_form.label :board %>:</b>
            </td>
            <td>
                <%= school_form.text_field :board %>
            </td>
        </tr>
        <tr>
            <td>
                <b><%= school_form.label :fax %>:</b>
            </td>
            <td>
                <%= school_form.text_field :fax %>
            </td>
        </tr>
        <tr>
            <td>
                <b><%= school_form.label :website %>:</b>
            </td>
            <td>
                <%= school_form.text_field :website %>
            </td>
        </tr>
    </table>
</div>
<div class="c38r">
    <p class="icaption_right">
        <br/>
		<%= link_to_function( 'Submit' , "document.forms['edit_school_#{@school.id.to_s}'].submit()")%> |
		<%= link_to 'Back', {:controller => :schools, :action => 'profile_show', :id=>@school} %>
	<% end %>
    </p>
</div>

