<%= javascript_include_tag 'schools/show' %>
<p>
    <b>Name:</b>
    <%=h @school.name %>
</p>
<p>
    <b>Board:</b>
    <%=h @school.board %>
</p>
<p>
    <b>Fax:</b>
    <%=h @school.fax %>
</p>
<p>
    <b>Website:</b>
    <%=h @school.website %>
</p>
<p>
    <h3>Classes</h3>
    <br/>
    <% @klasses.each do |klass| %>
    <%= link_to klass.name, klass %>
    <br/>
    <% end %>
</p>
<p>
    <h3>Students</h3>
    <br/>
    <% @students.each do |student| %>
    <%= link_to student.user.email, student %>
    <br/>
    <% end %>
</p>
<div id="invite_student_dialog" style="display: none;">
    <% form_tag '/students', :id => 'invite_students_form' do %>
    <%= render :partial => 'users/invite_input' %>
	<%= submit_tag 'Invite' %>
    <% end %>
</div>
<%= link_to 'Edit', edit_school_path(@school) %>|<%= link_to 'Back', schools_path %>