<table id="school_students_table" class="ui-state-default">
    <caption>
        Students in school <%=@school.name %>
    </caption>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Class (Level-Division)
            </th>
        </tr>
    </thead>
    <tbody>
        <% @students.each do |student| %>
        <tr>
            <td>
                <%= student.name %>
            </td>
            <td>
                <%= student.user.email %>
            </td>
            <% if student.current_enrollment %>
            <td>
                <%= student.current_enrollment.klass.name %>
            </td>
            <td>
                <%= link_to 'Delete', student_path, student, :confirm => 'Are you sure?', :method => :delete %>
            </td>
            <%else %>
            <td>
                <i>Not Enrolled!</i>
            </td>
            <%end %>
        </tr>
        <%end %>
    </tbody>
</table>
<div class= "button ui-state-focus float_left">
    <%= link_to "Add Student", :url => {:action => "add_student", :id => @school} %>
</div>
