%span[activity]
  = activity.name
  - unless activity.description.blank?
    %a{:href => "#", :class => "tooltip"}
      %em{:class => "comment ui-icon ui-icon-comment"}
      %span
        = activity.description
        - if activity.event
          %span{:class => "date"}
            = activity.event.start_time.to_s(:short)
            %span{:class => "time"}
              = "#{activity.duration} hours"

