%span[activity]
  %span{:class=> "comment"}
    - unless activity.description.blank?
      %a{:href => "#", :class => "tooltip"}
        %em{:class => "ui-icon ui-icon-comment"}
        %span
          = activity.description
  %span{:class => "name"}
    = activity.name
  - if activity.event
    %span{:class => "date"}
      = activity.event.start_time.to_s(:short)
    %span{:class => "time"}
      = "#{activity.duration} hours"
  %span
    = link_to_remote 'Edit activity', :url =>  {:controller => 'activities', :action => 'edit', :id => activity }, :method => :get, :html => {:title => "Edit #{activity.title}", :class => "ui-state-default ui-corner-all ui-icon ui-icon-pencil"}
    
     
   