%div[activity]
  - unless @student
    %span.icon= link_to_remote 'Edit activity', :url =>  {:controller => 'activities', :action => 'edit', :id => activity }, :method => :get, :html => {:title => "Edit #{activity.title}", :class => "ui-state-default ui-corner-all ui-icon ui-icon-pencil"}  if permitted_to? :update, activity
    - if activity.destroyable?  and activity.assessment.fa?
      %span.icon= link_to_remote 'Delete', :url => {:controller => 'activities', :action => 'destroy', :id => activity }, :method => :delete, :html => {:title => "Delete #{activity.title}", :class => "ui-state-default ui-corner-all ui-icon ui-icon-trash"}, :confirm => 'Are you sure?' if permitted_to? :delete, activity
    - else
      %span.icon.ui-icon.blank
  %span.name
    = link_to_if(permitted_to?(:read, activity), activity.name, scores_activity_path(:id => activity.id, :edit => permitted_to?(:manage, activity)), :class => "name", :title => "Scores for "+activity.title)
  - if activity.description.blank?
    %span.icon.ui-icon.blank
  - else
    %a.tooltip{:href => "#"}
      %em.icon.ui-icon.ui-icon-comment
      %span= activity.description
  - if activity.event
    %span.date
      = activity.event.start_time.to_s(:short)
      %span.time= "#{duration(activity.event.start_time, activity.event.end_time)}"
  - if @student
    - if (score =  activity.scores.of_student(@student.id)) 
      - score_class = activity.assessment_tool.best_scores_for(@student).include?(score) ? "score" : "score ignore"
      %span{:class => score_class}= "#{score_display(score)}" if permitted_to? :read, score
   
   