<% semantic_remote_form_for exam do |f| %>
<table>
    <tr>
        <th>
            <%= f.label :subject %>
        </th>
        <td>
            <strong><%=exam.subject.name %></strong>
        </td>
    </tr>
    <% f.semantic_fields_for :event do |event_form| %>
    <tr>
        <th>
            <strong>From</strong>
        </th>
        <td>
            <%= event_form.calendar_date_select :start_time, :time => true, :popup => 'force', :minute_interval => 5 %>
        </td>
    </tr>
    <tr>
        <th>
            <strong>To</strong>
        </th>
        <td>
            <%= event_form.calendar_date_select :end_time, :time => true, :popup => 'force', :minute_interval => 5 %>
        </td>
    </tr>
    <%end %>
    <tr>
        <%if exam.teacher %>
        <th>
            <%=f.label :teacher %>
        </th>
        <td>
            <strong><%=exam.teacher.name %></strong>
        </td>
        <%else %>
       		<%= f.input :teacher_id, :as => :select, :collection => teachers , :label => "" %>
        <%end %>
    </tr>
    <tr>
        <%= f.input :description, :as => :text, :label => "Notes", :input_html => {:rows => 5} %>
    </tr>
</table>
    <%= f.commit_button :label => 'Update' %>
<%end %>