<% remote_form_for exam, :url => {:controller => :exams, :action => 'update', :id => exam, :entity_class => entity.class.name, :entity_id => entity} do |f| %>
	<table class="center">
		<tr>
        	<th><label for="subject">Subject</label></th>
			<td><strong><%=exam.subject.name%></strong></td>
		</tr>
		<tr>
			<th><label for="start_time">Exam Date</label></th>
            <td><%= f.date_select(:exam_date, :size => 27)%></td>
         </tr>
	    <tr>
			<th><label for="start_time">Start Time</label></th>
            <td><%= f.time_select(:start_time, :size => 27)%></td>
         </tr>
        <tr>
        	<th><label for="end_time">End Time</label></th>
            <td><%= f.time_select(:end_time, :size => 27)%></td>
         </tr>
        <tr>
        	<th><label for="venue">Venue</label></th>
            <td><%= f.text_field(:venue, :size => 27)%></td>
        </tr>
		<tr>
            <th><label for="max_score">Max Score</label></th>
            <td><%= f.text_field(:max_score, :size => 27)%></td>
        </tr>
		<tr>
          	<th><label for="pass_score">Pass Score</label></th>
            <td><%= f.text_field(:pass_score, :size => 27)%></td>
        </tr>
	</table>
	<div class="center">
		<%= submit_tag "Update" %>
	</div>
<%end %>
