<% remote_form_for exam, :url => {:controller => :exams, :action => 'update', :id => exam, :entity_class => entity.class.name, :entity_id => entity} do |f| %>
<table class="center">
    <tr>
        <th>
            <%= f.label :subject %>
        </th>
        <td>
            <strong><%=exam.subject.name %></strong>
        </td>
    </tr>
    <% fields_for :event do |event_form| %>
    <tr>
        <th>
            <%= event_form.label :start_time %>
        </th>
        <td>
            <%= event_form.datetime_select :start_time, {:minute_step => 15} %>
        </td>
    </tr>
    <tr>
        <th>
            <%= event_form.label :end_time %>
        </th>
        <td>
            <%= event_form.datetime_select :end_time , {:minute_step => 15}%>
        </td>
    </tr>
    <%end %>
    <tr>
        <th>
            <%=f.label :venue %>
        </th>
        <td>
            <%= f.text_field(:venue, :size => 27) %>
        </td>
    </tr>
    <tr>
        <th>
            <%=f.label :max_score %>
        </th>
        <td>
            <%= f.text_field(:max_score, :size => 27) %>
        </td>
    </tr>
    <tr>
        <th>
            <%=f.label :pass_score %>
        </th>
        <td>
            <%= f.text_field(:pass_score, :size => 27) %>
        </td>
    </tr>
    <tr>
        <th>
            <%=f.label :teacher %>
        </th>
        <%if exam.teacher %>
        <td>
            <strong><%=exam.teacher.name %></strong>
        </td>
        <%else %>
        <td>
            <%= f.select(:teacher_id, options_from_collection_for_select(teachers,:id,:name)) %>
        </td>
        <%end %>
    </tr>
</table>
<div class="center">
    <%= submit_tag "Update" %>
</div>
<%end %>
