	<tr id="exam_<%=exam.id%>">
		<td class="ui-state-default">
	    	<%=link_to exam.subject.name, exam%>
	    </td>
		<td class="ui-state-default">
	    	<%=!exam.exam_date.nil? ? exam.exam_date.strftime('%d-%b-%y') : exam.exam_date%>
	    </td>
	    <td class="ui-state-default">
	    	<%=!exam.start_time.nil? ? exam.start_time.strftime('%I:%M %p') : exam.start_time%>
	    </td>
	    <td class="ui-state-default">
	    	<%=!exam.end_time.nil? ? exam.end_time.strftime('%I:%M %p') : exam.end_time%>
	    </td>
		<td class="ui-state-default">
	    	<%=exam.venue%>
	    </td>
		<td class="ui-state-default">
	    	<%=exam.max_score%>
	    </td>
		<td class="ui-state-default">
	    	<%=exam.pass_score%>
	    </td>
		<td class="ui-state-default">
			<%= link_to_remote 'Edit', :url =>  {:controller => :exams, :action => 'edit', :id => exam, :entity_class => entity.class.name, :entity_id => entity}, :method => :get, :html => {:title => 'Edit', :class => "ui-icon ui-icon-pencil" }%>
	    </td>
	    <td class="ui-state-default">
	    	<%if exam.scores.nil? || exam.scores.empty?%>
				<%= link_to_remote 'Delete', :url => {:controller => :exams, :action => 'destroy', :id => exam, :entity_class => entity.class.name, :entity_id => entity}, :method => :delete, :html => {:class => "ui-icon ui-icon-trash", :title => 'Delete'}, :confirm => 'Are you sure?' %>
			<%else%>
			      <%= link_to_function "Delete Not Allowed", {:class => "ui-icon ui-icon-locked", :title => "Delete Not Allowed"} do |page|
        				page << "alert('Cannot delete as scores already exists for the exam');"
					end %>
			<%end%>
	    </td>
		<td class="ui-state-default">
        	<%=link_to 'View/Edit Scores', exam, {:class => "ui-icon ui-icon-circle-zoomin", :title => 'View/Edit Scores'}%>
	    </td>
	</tr>