<tr>
    <td>
        <%=h exam.subject.name %>
    </td>
    <td>
        <%=h exam.start_time %>
    </td>
    <td>
        <%=h exam.end_time %>
    </td>
    <td>
        <%=h exam.venue %>
    </td>
    <td>
        <%=h exam.max_score %>
    </td>
    <td>
        <%=h exam.pass_score %>
    </td>
	    <td>
        <%=link_to 'Enter score', :controller => 'scores', :action => 'new', :exam => exam %>
    </td>
</tr>
