	    <td class="ui-state-default">
	    	<%=exam.subject.name%>
	    </td>
	    <td class="ui-state-default">
	    	<%=exam.start_time%>
	    </td>
	    <td class="ui-state-default">
	    	<%=exam.end_time%>
	    </td>
		<td class="ui-state-default">
	    	<%=exam.venue%>
	    </td>
		<td class="ui-state-default">
	    	<%=exam.max_score%>
	    </td>
		<td class="ui-state-default">
	    	<%=exam.pass_score%>
	    </td>
		<td class="ui-state-default">
			<%= link_to_remote 'Edit', :url =>  {:controller => 'exams', :action => 'edit', :id => exam}, :html => {:title => 'Edit', :class => "ui-icon ui-icon-pencil" }%>
	    </td>
	    <td class="ui-state-default">
			<%= link_to_remote 'Delete', :url => {:controller => :exams, :action => 'destroy', :id => exam, :method => :delete}, :html => {:class => "ui-icon ui-icon-trash", :title => 'Delete'}, :confirm => 'Are you sure?' %>
	    </td>
		<td class="ui-state-default">
        	<%=link_to 'Enter Score', {:controller => 'scores', :action => 'new', :exam => exam}, {:class => "ui-icon ui-icon-circle-zoomin", :title => 'View/Edit Scores'}%>
	    </td>	

