<tr id="exam-<%=exam.id%>">
	<% if active_controller == 'klasses' %>
    <td class="icons">
        <% permitted_to? :create, exam do %>
        <% if exam.activity.extendable %>
        <span><%= link_to_remote 'Add', :url => {:controller => :exams, :action => 'add', :id => exam }, :html => {:title => "Add #{exam.title}", :class => "ui-state-default ui-corner-all ui-icon ui-icon-plusthick"} %></span>
        <%else %>
        <span class="ui-icon blank"></span>
        <% end %>
        <% end %>
        <% permitted_to? :update, exam do %>
        <span><%= link_to_remote 'Edit exam', :url =>  {:controller => :exams, :action => 'edit', :id => exam }, :method => :get, :html => {:title => "Edit #{exam.title}", :class => "ui-state-default ui-corner-all ui-icon ui-icon-pencil"} %></span>
        <% end %>
        <% permitted_to? :delete, exam do %>
        <%if exam.destroyable? %>
        <span><%= link_to_remote 'Delete', :url => {:controller => :exams, :action => 'destroy', :id => exam }, :method => :delete, :html => {:title => "Delete #{exam.title}", :class => "ui-state-default ui-corner-all ui-icon ui-icon-trash"}, :confirm => 'Are you sure?' %></span>
        <%end %>
        <% end %>
    </td>
	<% end %>
    <td class="left">
        <%= link_to_if (active_controller == 'students' and permitted_to? :read, exam), (exam.assessment_type == "SA" ? exam.subject.name : exam.activity_name), view_scores_exams_path(:ids => [exam.id]) %>
    </td>
    <td>
        <%if !exam.description.blank? %>
        <a href="#" class="tooltip"><em class="inline-block ui-icon ui-icon-comment"></em><span><%= exam.description %></span></a>
        <%end %>
    </td>
    <td class="right">
        <% if exam.event %>
        <span class="date"><%= exam.event.start_time.to_s(:short) %>
            <span class="time"><%= exam.duration %>hours</span></span>
        <%end %>
        <span><%=link_to exam.teacher.name, exam.teacher if !exam.teacher.nil? %></span>
        <% if active_controller == 'students' %>
       	 	<% if (score =  exam.score_of(student)) %>
       		 <% if permitted_to? :read, score %>
        		<span class="score"><%= score.score %></span>
        	 <% end %>
        	<% end %>
        <% else %>
        	<% if (permitted_to? :update, exam) %>
        		<span><%=link_to 'Scores',  edit_scores_exams_path(:ids => [exam.id]) %></span>
        	<% elsif (permitted_to? :read, exam) %>
        		<span><%=link_to 'Scores',  view_scores_exams_path(:ids => [exam.id]) %></span>
        	<% end %>
        <% end %>
    </td>
</tr>
