<tr id="exam-<%=exam.id%>">
	<td class="icons">
		<% permitted_to? :edit, exam do %>
        	<span class="inline-block"><%= link_to_remote 'Edit exam', :url =>  {:controller => :exams, :action => 'edit', :id => exam }, :method => :get, :html => {:title => 'Edit', :class => "ui-icon ui-icon-pencil"} %></span>
        <% end %>
		<% permitted_to? :delete, exam do %>
        	<%if exam.destroyable? %>
        		<span class="inline-block"><%= link_to_remote 'Delete', :url => {:controller => :exams, :action => 'destroy', :id => exam }, :method => :delete, :html => {:title => 'Delete', :class => "ui-icon ui-icon-trash"}, :confirm => 'Are you sure?' %></span>
        	<%end %>
        <% end %>
		<% permitted_to? :create, :exams do %>
        	<% if exam.activity.extendable %>
        		<span class="inline-block"><%= link_to_remote 'Add', :url => {:controller => :exams, :action => 'add', :id => exam }, :html => {:title => 'Add', :class => "ui-icon ui-icon-plus"} %></span>
        	<% end %>
        <% end %>
	</td>
    <td class="left">
        <%= link_to_if (permitted_to? :read, exam), (exam.assessment_type == "SA" ? exam.subject.name : exam.activity_name), view_scores_exams_path(:ids => [exam.id]) %>
    </td>
    <td>
		<%if !exam.description.blank?%>
			<a href="#" class="tooltip"><span><%= exam.description %></span><em class="inline-block ui-icon ui-icon-comment"></em></a>
		<%end%>
    </td>
    <td class="right">
        <% if exam.event %>
	        <span class="date"><%= exam.event.start_time.to_s(:short) %>
	            <span class="time"><%= exam.duration %>hours</span>
			</span>
        <%end %>
        <span><%=link_to exam.teacher.name, exam.teacher if !exam.teacher.nil? %></span>
        <% permitted_to? :edit, exam do %>
        	<span><%=link_to 'Scores',  edit_scores_exams_path(:ids => [exam.id]) %></span>
        <% end %>
    </td>
</tr>
