<h1>Editing exam</h1>

<% form_for(@exam) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </p>
  <p>
    <%= f.label :end_time %><br />
    <%= f.datetime_select :end_time %>
  </p>
  <p>
    <%= f.label :venue %><br />
    <%= f.text_field :venue %>
  </p>
  <p>
    <%= f.label :max_score %><br />
    <%= f.text_field :max_score %>
  </p>
  <p>
    <%= f.label :pass_score %><br />
    <%= f.text_field :pass_score %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @exam %> |
<%= link_to 'Back', exams_path %>