<p>
  <b>Start time:</b>
  <%=h @exam.start_time %>
</p>

<p>
  <b>End time:</b>
  <%=h @exam.end_time %>
</p>

<p>
  <b>Venue:</b>
  <%=h @exam.venue %>
</p>

<p>
  <b>Max score:</b>
  <%=h @exam.max_score %>
</p>

<p>
  <b>Pass score:</b>
  <%=h @exam.pass_score %>
</p>


<%= link_to 'Edit', edit_exam_path(@exam) %> |
<%= link_to 'Back', exams_path %>