<div class="tab-box">
    <ul class="tab-bar">
        <% tabs.each do |t| %>
        <li>
            <a href="#<%=t[0]%>-tab" id="<%=t[0]%>-tab-link"><%= t[0].to_s.humanize %></a>
        </li>
        <% end %>
    </ul>
    <% tabs.each do |t| %>
    <div id="<%=t[0]%>-tab" class ="tab">
        <%= render t[1] %>
    </div>
    <% end%>
</div>
