<% content_for :tab_links do %>
<ul class="tab-bar">
    <% tabs.each do |t| %>
    <li class="tab-item">
        <% tab = t[:tab] %>
        <% title = t[:title] %>
        <% title ||= tab.to_s.humanize %>
        <a href="#<%= tab %>-tab" id="<%= tab %>-tab-link" class="tab-link"><%= title %></a>
    </li>
    <% end %>
</ul>
<% end %>
<% content_for :tabs do %>
<% tabs.each do |t| %>
<div id="<%= t[:tab] %>-tab-section" class ="tab" style="display: none;">
    <div id="<%= t[:tab] %>-tab-header" class="page_header">
        <%= render t[:header] if t[:header] %>
    </div>
    <div id="<%= t[:tab] %>-tab-content" class="innercol">
        <%= render t[:render] %>
    </div>
</div>
<% end %>
<% end %>