<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>Untitled Document</title>
        <%= stylesheet_link_tag 'tablesorter', 'my_layout', 'patch_my_layout', 'jquery', 'schoolarly' %>
        <%= javascript_include_tag 'prototype' %>
        <%= javascript_include_tag 'jquery' %>
        <%= javascript_include_tag :all %>
    </head>
    <body>
        <div class="page_margins">
            <div id="border-top">
                <div id="edge-tl">
                </div>
                <div id="edge-tr">
                </div>
            </div>
            <div class="page">
                <div id="header">
                    <div id="topnav">
                        <a class="skip" title="skip link" href="#navigation">Skip to the navigation</a>
                        <span class="hideme">.</span>
                        <a class="skip" title="skip link" href="#content">Skip to the content</a>
                        <span class="hideme">.</span>
                        <a href="#">Home</a>
                        | <% if current_user %>
                        <%= link_to "Logout, #{current_user.email}", user_session_path,  :method => :delete, :confirm => 'Are you sure you want to logout?' %>
                        <% else %>
                        <%= link_to 'Login', new_user_session_path %>
                        <% end %>
                    </div>
                    <%= render :partial => "/layouts/navigation" %>
                </div>
                <div id="main">
                    <p style="color: green">
                        <div id="notice">
                            <%= flash[:notice] %>
                        </div>
                    </p>
                    <div id="content_box">
                        <%= yield %>
                    </div>
                    <div id="right_boxes" class="ui-state-default">
                        <div id="action_box">
                            <h2>Actions</h2>
                            <% @page_actions ||= [] %>
                            <% @page_actions.each do |action| %>
                            <%= link_to *action %>
                            <br/>
                            <% end %>
                            <% @js_page_actions ||= [] %>
                            <% @js_page_actions.each do |action| %>
                            <% id = action.first.parameterize+"-dialog" %>
                            <div id="<%= id %>" class="jquery-dialog" style ="display: none;">
                                <%= render action.last %>
                            </div>
                            <%= link_to_function action.first,  "openDialog('#{id}')" %>
							<br/>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div id="footer">
                    <a href="#">About Schoolarly</a>
                    | <a href="#">Contact Us</a>
                </div>
            </div>
            <div id="border-bottom">
                <div id="edge-bl">
                </div>
                <div id="edge-br">
                </div>
            </div>
        </div>
    </body>
</html>
