<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>Welcome to Schoolarly</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <%= stylesheet_link_tag  '37layout', 'crumbs', 'multiselect', 'modalbox' %>
        <%= javascript_include_tag 'prototype' ,'scriptaculous' %>
        <%= javascript_include_tag 'jquery', 'jquery-ui', 'application' %>
        <%= javascript_include_tag 'modalbox' %>
        <%= include_jquery_grid_javascript %>
        <%= include_jquery_grid_css %>
        <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
        <%=javascript_include_tag 'fullcalendar', 'gcal', 'calendar' %>
        <%=stylesheet_link_tag "style", 'fullcalendar' %>
    </head>
    <body>
        <!-- Missing: Header with home, logout etc., Footer with about, contact etc,. Flash message box, Breadcrumbs-->
        <div id="main">
            <div id="Header">
                <div id="Tabs">
                    <%= yield :tab_links %>
                    <%= render :partial => '/common/header' %>
                </div>
            </div>
            <div class="wrapper">
                <div class="Left">
                    <div class="col">
                        <div id="breadcrumbs">
                            <ul id="crumbs">
                                <%= yield :crumbs %>
                            </ul>
                        </div>
                        <div class="innercol">
                            <%= yield :tabs %>
                        </div>
                    </div>
                    <div class="bottom">
                    </div>
                </div>
                <div class="Right">
                    <ul id="right-bar">
                        <%= yield :actions %>
                    </ul>
                </div>
            </div>
            <!--
            <div id="contents">
            -->
            <%= yield %>
            <!--</div>-->
        </div>
    </body>
</html>
