<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>Welcome to Schoolarly</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <%#= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css",'ui.multiselect' %>
        <%= stylesheet_link_tag 'jquery-ui-1.8.4.custom.css' ,'ui.multiselect' %>
		<%= stylesheet_link_tag  '37layout', 'modalbox' %>
        <%= javascript_include_tag 'prototype' ,'scriptaculous' %>
        <%#= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
        <%#= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js" %>
        <!-- using older version of jquery to make the latest version of ui-multiselect work -->
		<%= javascript_include_tag 'jquery/jquery-1.3.2.min.js', 'jquery/jquery-ui-1.7.1.custom.min.js' %>
		<%= javascript_include_tag 'ui.multiselect', 'application' %>
        <%= javascript_include_tag 'modalbox' %>
        <%= include_jquery_grid_javascript %>
        <%= include_jquery_grid_css %>
        <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
        <%= javascript_include_tag 'fullcalendar', 'gcal', 'calendar' %>
        <%= stylesheet_link_tag "style", 'fullcalendar' %>
        <%= calendar_date_select_includes 'default' %>
        <%= stylesheet_link_tag('print', :media => :print) %>
    </head>
    <body>
        <!-- Missing: Header with home, logout etc., Footer with about, contact etc,. Flash message box, Breadcrumbs-->
        <div id="main">
            <div id="Header">
                <h1 class="title">Schoolarly</h1>
                <div id="Tabs">
                    <ul class="crumbs" id="crumbs">
                        <%= yield :crumbs %>
                    </ul>
                    <%= yield :tab_links %>
                    <%= render :partial => '/common/header' %>
                </div>
            </div>
            <div class="wrapper">
                <div class="Left">
                    <div class="col">
                        <%= yield :tabs %>
                    </div>
                    <div class="bottom">
                    </div>
                </div>
                <div class="Right">
                    <ul id="right-bar">
                        <%= yield :actions %>
                    </ul>
                </div>
            </div>
            <!--
            <div id="contents">
            -->
            <%= yield %>
            <!--</div>-->
        </div>
    </body>
</html>
