<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>Untitled Document</title>
        <%= stylesheet_link_tag 'my_layout', 'patch_my_layout', 'schoolarly' %>
    </head>
    <body>
        <div class="page_margins">
            <div id="border-top">
                <div id="edge-tl">
                </div>
                <div id="edge-tr">
                </div>
            </div>
            <div class="page">
                <div id="header">
                    <div id="topnav">
                        <a class="skip" title="skip link" href="#navigation">Skip to the navigation</a>
                        <span class="hideme">.</span>
                        <a class="skip" title="skip link" href="#content">Skip to the content</a>
                        <span class="hideme">.</span>
						<a href="#">Home</a> | 
                        <% if current_user %>
						<!-- s = School.find(1)	<!-- TODO Will change this !-->
                        <!--<%= link_to s.name + '(Logout)', user_session_path, :method => :delete, :confirm => 'Are you sure you want to logout?' %>!-->
						<%= link_to 'Logout', user_session_path,  :method => :delete, :confirm => 'Are you sure you want to logout?' %>
                        <% else %>
                        <%= link_to 'Login', new_user_session_path %>
                        <% end %>

                    </div>
                </div>
				
                <%= render :partial => '/schools/navigation' %>
				
                <div id="main">
                    <div id="col1">
                        <div id="col1_content" class="clearfix">
                            <!-- add your content here -->
							I'm the Left Sidebar
                        </div>
                    </div>
                    <div id="col2">
                        <div id="col2_content" class="clearfix">
                            <p style="color: green">
                                <%= flash[:notice] %>
                            </p>
                            <%= yield %>
                        </div>
                    </div>
                    <div id="col3">
                        <div id="col3_content" class="clearfix">
                            <!-- add your content here -->
							I'm the Right Sidebar
                        </div>
                        <div id="ie_clearing">
                            &#160; 
                        </div>
                    </div>
                </div>
                <div id="footer">
                    <a href="#">About Schoolarly</a> | <a href="#">Contact Us</a> 
                </div>
            </div>
            <div id="border-bottom">
                <div id="edge-bl">
                </div>
                <div id="edge-br">
                </div>
            </div>
        </div>
    </body>
</html>
