<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <title>Welcome to Schoolarly</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <%= stylesheet_link_tag  'layout', 'modalbox' %>
        <%= javascript_include_tag 'prototype' ,'scriptaculous' %>
        <%= javascript_include_tag 'jquery', 'jquery-ui', 'application' %>
        <%= javascript_include_tag 'modalbox' %>
        <%= include_jquery_grid_javascript %>
        <%= include_jquery_grid_css %>
        <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
        <%=javascript_include_tag 'fullcalendar', 'gcal', 'calendar' %>
        <%=stylesheet_link_tag "style", 'fullcalendar' %>
    </head>
    <body>
        <!-- Missing: Header with home, logout etc., Footer with about, contact etc,. Flash message box, Breadcrumbs-->
        <div id="main">
            <%= render :partial => '/common/header' %>
            <div id="contents">
                <div id="breadcrumbs">
                    <ul id="crumbs">
                        <% @breadcrumbs ||= [] %>
                        <% @breadcrumbs.each do |a| %>
                        <li>
                            <%= if(a[1]) then link_to(a[0], a[1]) else a[0] end %>
                        </li>
                        <% end %>
                    </ul>
                </div>
                <%= yield %>
            </div>
            <ul id="right-bar">
                <% @page_actions ||= [] %>
                <% @page_actions.each do |action| %>
                <li>
                    <%= link_to *action %>
                </li>
                <% end %>
                <% @js_page_actions ||= [] %>
                <% @js_page_actions.each do |action| %>
                <li>
                    <%= render :partial => '/common/action', :locals => {:title => action[:title], :args => action[:render]}%>
                </li>
                <% end %>
                <%if is_messageable? %>
                <li>
                	<!-- TODO page context -->
                	<%=render :partial => 'messages/new_form', :locals => {:user => User.find_by_person_type_and_person_id(active_controller.singularize.camelcase, params[:id])} %>
                </li>
                <%end %>
            </ul>
        </div>
    </body>
</html>
