<p id="feedback">
    You've selected: <span id="select-result">none</span>.
</p>
<table id="klasses_selectable" class="selectable">
    <% @klasses.each do |level, level_klasses| %>
    <tr>
        <th>
            <%=level %>
        </th>
        <%level_klasses.each do |klass| %>
        <td id=<%="#{klass.id}_delete"%>
            class="ui-state-default"><%if ['Pre-school', 'L.K.G','U.K.G','Mont1','Mont2','Mont3'].include?(level.to_s) %>
            <%=klass.division %>
            <%else %>
            <%="#{klass.level}#{klass.division}" %>
            <%end %>
        </td>
        <%end %>
    </tr>
    <% end %>
</table>
<div class="button ui-state-default ui-corner-all float_left">
    <%= link_to_remote 'Delete',:url => {:controller => 'schools', :action => 'delete_klasses', :id=>@school}, :with => "'delete_klasses=' + delete_klass_indices" %>
</div>
