<tr id="klass_<%=klass.id%>">
    <td class="left">
		<div>
			<% url = klass_path(klass) %>
        	<a href="<%= url %>" title="<%=klass.name%>"><span class="level"><%= klass.level.name %><span class="division"><%= klass.division %></span></span></a>
		</div>
		<div class="icons">
	        <span><%=message_to(klass)%></span>
			<span><%= link_to_remote 'Delete', :url => klass_url(klass), :method => :delete, :html => {:title => 'Remove', :class => "ui-icon ui-icon-trash"}, :confirm => 'Are you sure?' if permitted_to? :delete, klass and klass.can_be_destroyed %></span>
		</div>
        <div class="detail">
            <%=link_to klass.class_teacher.name, klass.class_teacher if klass.class_teacher %>
            <%= link_to_remote (klass.class_teacher ? '(Change)' : 'Assign Class Teacher' ), :url => {:controller => 'klasses', :action => 'edit', :id => klass}, :method => :get if permitted_to? :edit, klass %>
        </div>
    </td>
    <td class="right">
        <p>
            <% klass.school_subjects.each do |school_subject| %>
            <span class="subject"><%= school_subject.name %></span>
            <% end %>
            <span><%= link_to_remote 'Add Subjects', :url =>{:controller => 'klasses', :action => 'add_subjects', :id => klass}, :html => {:title => "Add Subjects to #{klass.name}"} if permitted_to? :update, klass %></span>
        </p>
		<div>
			<%= link_to_function_if permitted_to?(:add, :students), pluralize(klass.students.size, 'student') do |page|  page.open_dialog('Add Students', :partial =>'students/add_students_form',:locals => {:entity => klass, :students => klass.school.students.not_enrolled}) end %>
		</div>
    </td>
</tr>
