<tr id="klass-<%=klass.id%>">
    <td class="left">
        <% url = klass_path(klass) %>
        <a href="<%= url %>"><span class="level"><%= klass.level.name %><span class="division"><%= klass.division %></span></span></a>
		<span><%=message_to(klass)%></span>
		<div class="detail">
			<%=link_to klass.class_teacher.name, klass.class_teacher if klass.class_teacher%>
			<%= link_to_remote (klass.class_teacher ? '(Edit)' : 'Assign Class Teacher' ), :url => {:controller => 'klasses', :action => 'edit', :id => klass}, :method => :get %>
		</div>
		
    </td>
    <td class="right">        
        <p>
            <% klass.subjects.each do |subject| %>
            <span class="subject"><%= subject.name %></span>
            <% end %>
			<span><%= pluralize(klass.students.size, 'student') %>  <%= link_to 'Add more', klass %></span>
        </p>
		 <% if klass.can_be_destroyed %>
        	<%= link_to_remote 'Delete', :url => klass_url(klass), :method => :delete, :confirm => 'Are you sure?' %>
		<% end %>
    </td>
</tr>
