<tr id="klass-<%=klass.id%>">
    <td class="ui-state-default">
        <% url = klass_path(klass) %>
        <%if ['Pre-school', 'L.K.G','U.K.G','Mont1','Mont2','Mont3'].include?(klass.level.to_s) %>
        <%=link_to "#{klass.level} - #{klass.division}",url %>
        <%else %>
        <%=link_to "#{klass.level}#{klass.division}",url %>
        <%end %>
    </td>
    <td class="ui-state-default">
    </td>
	<td class="ui-state-focus">
        <%= link_to  klass.students.size, klass %>
    </td>
    <% if klass.can_be_destroyed %>
    <th>
        <%= link_to_remote 'Delete', :url => klass_url(klass), :method => :delete, :confirm => 'Are you sure?' %>
    </th>
    <% end %>
</tr>
