<% puts "klass="+klass.inspect%>
<% remote_form_for klass, :url => {:controller => 'klasses', :action => 'create', :school_id => school} do |f| %>
<%= f.error_messages %>
<p>
    <%= f.label :level %>
    <br/>
    <%= input 'klass', 'level'%>
</p>
<p>
    <%= f.label :division %>
    <br/>
    <%= f.text_field :division %>
</p>
<p>
    <%= f.label :year %>
    <br/>
    <%= f.select :year, (2005..2012).to_a , {:selected => Time.now.year}%>
</p>
<p>
    <%= f.submit 'Create' %>
</p>
<% end %>
