<!-- TODO this is done 'coz 'input' method assumes @klass object. Have to checkup whether select will suffice -->
<% @klass = klass %>
<% remote_form_for klass, :url => {:controller => 'klasses', :action => 'create', :school_id => school} do |f| %>
<%= f.error_messages %>
<p>
    <%= f.label :level %>
    <br/>
    <%= input 'klass', 'level' %>
</p>
<p>
    <%= f.label :division %>
    <br/>
    <%= f.text_field :division %>
</p>
<p>
    <%= f.label :year %>
    <br/>
    <%= f.select :year, ((Time.now.year - 5)..(Time.now.year + 2)).to_a , {:selected => Time.now.year} %>
</p>
<p>
    <%= f.submit 'Create' %>
</p>
<% end %>
