<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery("#students_list_table").tablesorter({
            sortList: [[0, 0]]
        });
    });
</script>
<table id="students_list_table" class="ui-state-default" border="1px">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Roll Number
            </th>
        </tr>
    </thead>
    <tbody>
        <% @students.each do |student| %>
        <tr>
            <td>
                <%if student.user.user_profile %>
                <%= student.user.user_profile.name %>
                <%else %>
                <%= link_to "Profile not created", {:controller => 'user_profiles', :action => 'new', :id => student.user}, {:class => "profile"} %>
                <%end %>
            </td>
            <td>
                <%= student.user.email %>
            </td>            
            <td>
                <%= student.current_enrollment.roll_number %>
            </td>            
            <th>
                <%= link_to_remote 'Remove Enrollment', :url => {:controller => 'klasses', :action => 'remove_student',:id => @klass, :student_id => student}, :confirm => 'Are you sure?' %>
            </th>
        </tr>
        <%end %>
    </tbody>
</table>
