<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery("#students_list_table").tablesorter({
            sortList: [[0, 0]]
        });
    });
</script>
<table id="students_list_table" class="ui-state-default" border="1px">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                Roll Number
            </th>
        </tr>
    </thead>
    <tbody>
        <% @students.each do |student| %>
        <tr>
            <td>
                <%if student.user.user_profile %>
                <%= student.user.user_profile.name %>
                <%else %>
                <%= link_to "Profile not created", {:controller => 'user_profiles', :action => 'new', :id => student.user}, {:class => "profile"} %>
                <%end %>
            </td>
            <td>
                <%= student.user.email %>
            </td>
            <td>
				<input type="button" id="edit_no_<%= student.id %>" class="ui-state-default float_right" value="edit"/><strong id=<%="roll_number_#{student.id}" %>><%=student.current_enrollment.roll_number %></strong>
                <%= in_place_editor "roll_number_#{student.id}" ,{:url => {:controller => 'student_enrollment', :action => 'set_student_enrollment_roll_number', :id => student.current_enrollment},:external_control => "edit_no_#{student.id}"} %>
            </td>
            <th>
                <%= link_to 'Change Assignment', :controller => 'student_enrollment', :action => 'edit',:id => student.current_enrollment %>
            </th>
        </tr>
        <%end %>
    </tbody>
</table>
