<h1>Listing classes</h1>
<table>
    <tr>
        <th>
            Level
        </th>
        <th>
            Division
        </th>
    </tr>
    <% @klasses.each do |klass| %>
    <tr>
        <td>
            <%=h klass.level %>
        </td>
        <td>
            <%=link_to klass.division , school_klass_path(:id=>klass,:school_id => klass.school) %>
        </td>
        <%= link_to "Edit", edit_school_klass_path(:id => klass,
        :school_id => klass.school) %>
        <%= link_to "Delete", school_klass_path(:id => klass,
        :school_id => klass.school),
        :method => :delete %>
    </tr>
    <% end %>
</table>
<br/>
<%= link_to 'New Class', new_school_klass_path(@school) %>
